<div class="woodwatchHeader"></div>
<div class='woodwatch-allcontent'>
    <div class='woodwatch-title'>
        <h3> DESIGNING THE WOOD WATCH </h3>
        <h3>02</h3>
    </div>
    <p class='woodwatch-intro'>When we started designing our first watch in the summer of 2013, we thought of it as the beginning of a series. Our vision was to start with an eye-catching, groundbreaking concept and follow it up with something more grounded and accessible in both
        design and price. Today, almost four years later, we’ve finally realized that vision. As with all of our designs, the Wood Watch 02 started with the people on our team, and took us on a challenging and rewarding journey.</p>
    <div class='tri-watch-wrapper'>
        <img src="/img/journal-designing-wood-watch-02-B1.jpg" />
    </div>
    <div class='shop-button'>
        <h5>SHOP WATCHES</h5>
    </div>
    <p>When we sat down to design a wooden watch back in 2013, we wanted to create something that contributed to the watch genre in a radically new way. We focused on shifting how you interact with your watch — slowing the day down by combining a porthole view with circular hands. With the Wood Watch 02 we wanted to complement this approach, broadening our repertoire by designing something more traditional, more conventional, and more precise. Rather than a focus on being super original, we wanted to zero in on the classic details and make a highly refined and simple watch.</p>
    <div class ='moving-watch'>
      <img src = '/img/grovemade-journal-watch-C1.jpg' />
      <p> The Grovemade Walnut Watch 01</p>
    </div>
    <div class = 'movingwatch-p'>
      <p> How could we do this and still keep within the Grovemade product vocabulary? We started with what we had— we kept the case design, straps, buckles, and exterior dimensions identical. This simplified engineering and ensured a close visual and physical relationship between our two watches. With that in place, we could start to improvise within the form. As with the Wood Watch 01, we worked in collaboration with former Nike watch designer Stefan Andrén.</p>
    </div>
    <div class = "stefan-profile">
      <img src = "/img/stefan-A1_2.png" />
      <p><b> STEFAN ANDRÉN:</b> The Watch 02 is the natural evolution of the original design; the same simple, iconic lines with a bold material selection.</p>
    </div>
    <div class = "design-playbook">
      <p> Our design playbook focuses heavily on natural materials. With the Watch 01, this was obvious in the wooden cap. With the Watch 02, we decided to invert this focus: rather than having the wood outside the case, we put the wood on the inside. But the vast majority of wooden watches use a two-dimensional wooden veneer for the dial face. We couldn’t help but innovate on that.</p>/
    </div>
    <div class = "double-image">
      <img src = "/img/greenshirt.jpg" />
      <img src = "/img/displayboard.jpg"  />
    </div>
    <div class = "ken-profile">
      <img src = "/img/ken.png" />
      <p><b>KEN TOMITA:</b> I remembered from back in the day that Joe <i>(Mansfield, Grovemade Co-founder)</i> and I used to talk about how, when you scoop out wood with a CNC, the grain that’s left is really beautiful.</p>
    </div>
    <div class = "wooden-dish-p">
      <p>We landed on a 3D wooden dish as the dial face, which, to the best of our knowledge, had never been done before. It may seem elementary, but attempting to do something that’s never been done before galvanized our team like we were little kids.</p>
    </div>
    <div class = "wood-dish-image">
      <img src="/img/wooddish-design.jpg" />
    </div>
    <div class = "wood-dish-p2">
      <p>This allowed us to showcase the flow of interesting grain patterns revealed when you carve a three-dimensional sphere into wood. To really drive this design, we worked backwards from the existing dimensions and re-engineered the interior to shave off precious millimeters of space and get the deepest possible wood dish to fit.</p>
    </div>
    <div class = "ken-profile">
      <img src = "/img/stefan-A1_2.png" />
      <p><b>STEFAN ANDRÉN:</b> The three-dimensional dial face is what ties the whole watch together and makes it stand out.</p>
    </div>
    <div class = "between-profiles">
      <p>The next step was to design the actual face of the watch: the hands and numbers and anything else we wanted to emphasize visually. Stefan insisted we call Dan, one of his old buddies from Nike who specializes in dial face design.</p>
    </div>
    <div class = "ken-profile">
      <img src ="/img/ken.png" />
      <p><b>KEN TOMITA:</b> I had no idea that, at the higher levels of design, there are specialists that design exclusively dial faces. Stefan is such a good watch designer; I couldn’t believe he insisted his friend was even better at these details.</p>
    </div>
    <div class = "super-team">
      <p>It felt like we were building a super team — an A team of Grovemade designers + experienced watch design specialists. We pitched the project to Dan and, luckily for us, he was really excited to join the project. He had moved on to more management work as his career progressed, and he was ready to get his hands dirty again. Every few weeks, Dan would bring over a set of drawings showing different approaches to the dial face. Everything he did looked awesome. There were so many things we could do, and we wanted to pursue all of them! Sometimes the tough part of design is walking away from good opportunities and focusing on one.</p>
    </div>
    <div class = "watch-plans">
      <img src = "/img/watch-plans.jpg" />
    </div>
    <div class = "illustrated-p">
      <p>Dan would leave us illustrator files that we could tweak and see what popped. We played with them endlessly. Take just the hands: Does the thickness of the minute and hour hand match? Does the color match? What length should they be? Do they come to a point, or a blunt tip, or do they balloon outward? Do they extend to the shoulder of the wooden dish? Should we include a second hand? This process took us through a remarkable number of iterations, diving deep into a seemingly simple aspect of the watch.</p>
    </div>
    <div class = "illustrated-p">
      <p>Once we narrowed the options we liked, Sean took the illustrated prototypes and turned them into physical, three-dimensional objects. We CNC-milled wooden dishes and Sean used the laser cutter to make different hands and resin lenses, varying tick mark density, size, and location.</p>
    </div>
    <div class = "watch-faces">
      <img src ="/img/watch-faces.jpg" />
    </div>
    <div class = "sean-profile">
      <img src = "/img/sean.png" />
      <p><b>Sean Kelly: </b>When you move from digital to physical, it proves that you can make it. If you can make one, you can make a thousand. </p>
    </div>
    <div class = "preliminary-design">
      <p>Once we had these in hand, we settled on a preliminary design.</p>
    </div>
    <div class = "preliminary-design">
      <p>The next step was manufacturing. The watch is the only item we manufacture outside of the USA. The complexity of watch manufacturing is immense compared to the other products we make. To make watches in our Portland workshop would take a huge capital investment to build out a dedicated facility for handling the precise manufacturing needs. It’s not something feasible for a company of our size – in fact, there are almost no factories in the US that build an entire watch. At most, they assemble parts that are machined or built in Asia or Europe. If we tried to tackle the whole process ourselves, the product would undoubtedly suffer. We’d be amateurs, getting into a game against specialists. We wanted to create something really well made, and so overseas made sense.</p>
    </div>
    <div class = "watch-blueprint">
      <img src = '/img/watch-blueprint.png' />
    </div>
    <div class = "preliminary-design">
      <p>We excitedly sent off our first set of drawings and sat back to wait on the samples. We waited. And waited. Finally, after a few months, we heard something — there was an issue manufacturing the second hand. It’s asymmetric design was throwing off how accurately it told time.</p>
    </div>
    <div class = "preliminary-design">
      <p>Why did it take so long to figure this out? It’s mostly because the watch industry works via a complex network of contractors and subcontractors, getting more and more specialized as you go down. The factory we work with assembles the watches, but they don’t make the hands, or the movement, or the other individual pieces. There’s a long chain of communication that can slow things down considerably. None of this is to say that there were any real issues with the factory — it’s more a testament to the difficulties of manufacturing overseas, especially for something as specialized as a watch. We’ve been working with this factory in China since building our first watch, and have been very happy with the results. But three months feels like an eternity when you’re used to walking 20 steps to the shop and building it yourself.</p>
    </div>
    <div class = "preliminary-design">
      <p>Once we heard about the issue with the second hand, we went back and forth for another couple of months before Sean finally solved the problem, switching the hand to extend symmetrically across the whole length of the dish bottom.</p>
    </div>
    <div class = "watch-diagram">
      <img src = "/img/watch-diagram.png" />
    </div>
    <div class = 'preliminary-design'>
      <p>Finally, after a couple more sets of prototypes and another six months, we received the final sample we’re showing today. Talk about relieved! Manufacturing overseas impacted our design process in a real way, especially in terms of speed. The process took a full two years, but we muscled through. There are challenges to manufacturing overseas, but overcoming those challenges is an illuminating part of the journey. It helped us realize how lucky we are to manufacture a vast majority of our products entirely in-house.</p>
    </div>
    <div class = "stefan-profile">
      <img src ="/img/stefan-A1_2.png" />
      <p><b>STEFAN ANDRÉN:</b> The Watch 02 was inspired by the great design language that Grovemade has already established. The hope and goal was to evolve it further and apply it to another great timepiece.</p>
    </div>
    <div class = 'preliminary-design'>
      <p>In the end, we’ve made a watch that highlights natural materials in a new way. It’s more accessible than our first watch, but still showcases a commitment to quality design. It’s a signature Grovemade product that fits within the scope of what we’ve made in the past while pushing our boundaries in subtle ways.</p>
    </div>
    <br><br><br><br>
    <div class='tri-watch-wrapper'>
        <img src="/img/journal-designing-wood-watch-02-B1.jpg" />
    </div>
    <div class='shop-button'>
        <h5>SHOP WATCHES</h5>
    </div>
    <br><br><br>




</div>
