<div class="ergonomics-header"></div>
<div class="ergonomics-all-content">
  <h3>DESKTOP ERGONOMICS</h3>
  <p>We’re writing this journal from a desk. Chances are you’re reading it from a desk. Or, on your phone, but you might be sitting at a desk. We spend a large portion of most of our days at a desk.</p>
  <img src="/img/grovemade-desk-ergonomics-A1.jpg" alt="">
  <!-- <div class="ergonomics-lady-pic"></div> -->
  <p>This reality is what motivated the design of our desk collection, and our monitor and laptop stands specifically.
    <br>
    <br>
    First, we firmly believe in crafting a space for your work. If you’re working at your desk all day, it should give rather than take. People choose to surround themselves with beautiful and meaningful objects. This is why we always focus on the sculptural aspect of our products - it makes them interesting and beautiful to look at, which adds to their functionality.
  </p>
  <div class="two-pics-container">
    <img src="/img/grovemade-desk-ergonomics-C1.jpg" alt="">
    <img src="/img/grovemade-desk-ergonomics-B1.jpg" alt="">
  </div>
  <p>Secondly, we believe in good ergonomics. We visited a friend and co-founder of AirBnb at their SF headquarters and noticed a rather unimpressive array of items propping up monitors. A light bulb went off. Desktop ergonomics have been buzz-worthy for a while now, so this wasn’t an insight exactly. But, at Grovemade, we thought we could bring our design focus and manufacturing prowess to bear on the problem and create a valuable solution. Thus was born our monitor stand.</p>
    <img class="backpain-pic "src="/img/grovemade-desk-ergonomics-D2_1.gif" alt="">
    <p>The basic ergonomic principle for our monitor stand is simple: elevate your screen. This reduces strain on your neck and eyes that can result from having to bend and look down as you work. There are great resources out there to get help you organize your desk, with detailed breakdowns of correct angles and heights. Here are two that we like: 1 / 2.</p>
    <img class="ergonomics-monitor-stands-pic"src="/img/grovemade-desk-ergonomics-E1_1.jpg" alt="">
    <button type="button" name="button">SHOP MONITOR STANDS</button>
    <p>There are obvious ways to hack this, with phonebooks being the classic example. We created the monitor stand to bring a touch more class and style to your desk, while also solving the underlying ergonomics issue. The space it opens up underneath the monitor can free up desk real estate and help de-clutter your workspace. And, whether it transports you to a mysterious walnut forest or a sun-dappled copse of maple trees, the wood can be a nice relief from aluminum, steel and glass.</p>
    <img class="ergonomics-laptop-stands-pic"src="/img/grovemade-desk-ergonomics-F1.jpg" alt="">
    <button type="button" name="button">SHOP LAPTOP STANDS</button>
    <p>The laptop stand starts from a similar point, but it took a bit more tweaking to work out. We wanted to elevate the screen, while not pushing it too far away from you. It’s designed to pair with the monitor stand, as well as with the rest of our desktop collection.
    <br>
    <br>
      Find a good summary of ergonomic considerations with respect to your laptop here.
    </p>
    <img src="/img/grovemade-desk-ergonomics-G1.jpg" alt="">
    <p>The main principle of raising the screen applies here as well. But because the screen and keyboard are connected, it’s impossible to optimize the ergonomics of both simultaneously. Either the screen is too low and the keyboard is just right, or the screen is just right and the keyboard is too high. Therefore a separate keyboard and mouse are crucial if you are planning to hustle all day on your laptop.
<br>
<br>
Scope creep is an engineering and project management term to refer to the way problems and features tend to continually grow as the project progresses. This is kind of how our desk collection grew, starting with the monitor stand and growing from there. “Let’s make a monitor stand to save people from phonebooks and pizza boxes!” … “Oh, well, I guess we need a stand for laptops, too”... “Hmmm, keyboards and mousepads”... “What about my pens?”... “This desk could use a lamp”... etc etc.
<br>
<br>
We’re happy with that scope creep. We really like how our desk collection has grown, and we think it works great to solve ergonomic problems in a design inspired way. We hope you’re able to use our products to craft a workspace where you can flourish.</p>
<img src="/img/grovemade-desk-ergonomics-H1.jpg" alt="">
<button class="ergonomics-last-button"type="button" name="button">SHOP DESK COLLECTION</button>
</div>
