<footer>
  <div class='footer-wrapper'>
    <div class='footer-content'>
      <div class='arrow-to-top'>
        <img ng-click="scrollTop()"class="footer-scroll-up__img" src="/img/scroll-up-circled.png">
        <p >TO THE TOP</p>
      </div>
      <div class='newsletter-signup'>
        <form>
          <input type="email" name="email" placeholder="Enter Your Email">
          <span><button>SUBMIT</button></span>
        </form>
        <p>Sign up to be the first to learn about new product introductions, restocks and events.</p>
      </div>
      <div>Font made from <a href="http://www.onlinewebfonts.com">oNline Web Fonts</a>is licensed by CC BY 3.0</div>
      <div class='social-media-footer'>
        <p>FOLLOW US</p>
        <div class='social-links'>
          <!-- onclick="window.open" will open up a new tab to the site -->
        <a onclick="window.open('https://www.facebook.com/grovemade')"class='social-icon'><i class="fa fa-facebook" aria-hidden="true"></i></a>
        <a onclick="window.open('https://twitter.com/grovemade')"class='social-icon'><i class="fa fa-twitter" aria-hidden="true"></i></a>
        <a onclick="window.open('https://www.instagram.com/grovemade/')"class='social-icon'><i class="fa fa-instagram" aria-hidden="true"></i></a>
        <a onclick="window.open('https://www.pinterest.com/grovemade/')"class='social-icon'><i class="fa fa-pinterest" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
    <div class='footer-bar'>
      <div class='footer-bar-left'>
        <a>SUPPORT</a>
        <a>CUSTOM</a>
        <a>CONTACT</a>
      </div>
      <div class='footer-bar-center'>
        <a>Privacy Policy</a>
        <a>Press Inquiries</a>
        <a>Terms & Conditions</a>
        <a>Warranty</a>
      </div>
      <div class='footer-bar-right'>
        <a>Site by Department</a>
      </div>
    </div>
  </div>
</footer>


<a href="#top" target="_self"></a>
