<footer>
  <div class='footer-wrapper'>
    <div class='footer-content'>
      <div class='arrow-to-top'>
        <a  href='#top'><img class="footer-scroll-up__img" src="/img/scroll-up-circled.png"></a>
        <p>TO THE TOP</p>
      </div>
      <div class='newsletter-signup'>
        <form>
          <input type="email" name="email" placeholder="Enter Your Email">
          <span><button>SUBMIT</button></span>
        </form>
        <p>Sign up to be the first to learn about new product introductions, restocks and events.</p>
      </div>
      <div class='social-media-footer'>
        <p>FOLLOW US</p>
        <div class='social-links'>
        <a class='social-icon' href='https://www.facebook.com/grovemade'><i class="fa fa-facebook" aria-hidden="true"></i></a>
        <a class='social-icon' href='https://twitter.com/grovemade'><i class="fa fa-twitter" aria-hidden="true"></i></a>
        <a class='social-icon' href='https://www.instagram.com/grovemade/'><i class="fa fa-instagram" aria-hidden="true"></i></a>
        <a class='social-icon' href='https://www.pinterest.com/grovemade/'><i class="fa fa-pinterest" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
    <div class='footer-bar'>
      <div class='footer-bar-left'>
        <a>SUPPORT</a>
        <a>CUSTOM</a>
        <a>CONTACT</a>
      </div>
      <div class='footer-bar-center'>
        <a>Privacy Policy</a>
        <a>Press Inquiries</a>
        <a>Terms & Conditions</a>
        <a>Warranty</a>
      </div>
      <div class='footer-bar-right'>
        <a>Site by Department</a>
      </div>
    </div>
  </div>
</footer>
