<section class='homeSection' style="background-image: url('{{nextPhoto}}'); background-size: 100% 100vh; background-repeat: no-repeat">
<section ng-class="photoClass"class='homeSection' style="background-image: url('{{selected}}'); background-size: 100% 100vh; background-repeat: no-repeat">
<div class='carouselTitle'>
<div ng-click="previous(); stop()"><</div>
<div class="title">
  <div>{{title}}</div>
  <div>{{color}}</div>
  <button>Shop Now</button>
</div>
<div ng-click="next(); stop()">></div>
</div>
</section>
<div class='carouselTitle'>
<div ng-click="previous(); stop()"><</div>
<div class="title">
  <div>{{nextTitle}}</div>
  <div>{{nextColor}}</div>
  <button>Shop Now</button>
</div>
<div ng-click="next(); stop()">></div>
</div>
</section>
