<div id="myCarousel" class="carousel slide">
  <ol class="carousel-indicators">
    <li data-target = "#myCarousel" data-slide-to = "0" class = "active"></li>
    <li data-target = "#myCarousel" data-slide-to = "1"></li>
    <li data-target = "#myCarousel" data-slide-to = "2"></li>
    <li data-target = "#myCarousel" data-slide-to = "3"></li>
    <li data-target = "#myCarousel" data-slide-to = "4"></li>
    <li data-target = "#myCarousel" data-slide-to = "5"></li>
    <li data-target = "#myCarousel" data-slide-to = "6"></li>
  </ol>

  <div class="carousel-inner">
    <div class="item active">
      <img src="./img/homemarq-walnut-desk-collection-G2_1.jpg" alt="walnut-desk-collection" class="img-responsive">
      
    </div>
    <div class="item">
      <img src="/img/homemarq-watch-02-A3_1.jpg" alt="walnut-desk-collection" class="img-responsive">
      <div class="carousel-caption">
        <h3>BOOM WORKING SON!</h3>
      </div>
    </div>
    <div class="item">
      <img src="/img/homemarq-wallet-A4_1.jpg" alt="walnut-desk-collection" class="img-responsive">
    </div>
    <div class="item">
      <img src="/img/homemarq-wallet-case-A2_1.jpg" alt="walnut-desk-collection" class="img-responsive">
    </div>
    <div class="item">
      <img src="/img/homemarq-wood-iphone-6-case-B2_1.jpg" alt="walnut-desk-collection" class="img-responsive">
    </div>
    <div class="item">
      <img src="/img/homemarq-bifold-wallet-E1_1.jpg" alt="walnut-desk-collection" class="img-responsive">
    </div>
    <div class="item">
      <img src="/img/homemarq-wood-speakers-A1_2.jpg" alt="walnut-desk-collection" class="img-responsive">
    </div>
  </div>

  <a class="carousel-control left" href="#myCarousel" data-slide = "prev">
    <span class="icon-prev"></span>
  </a>
  <a class="carousel-control right" href="#myCarousel" data-slide = "next">
    <span class="icon-next"></span>
  </a>
</div>
