<section class='homeSection' style="background-image: url('{{nextPhoto}}'); background-size: 100% 111vh; background-repeat: no-repeat; background-attachment: fixed">
<section ng-class="photoClass"class='homeSection' style="background-image: url('{{selected}}'); background-size: 100% 111vh; background-repeat: no-repeat; background-attachment: fixed">
<div class='carouselTitle'>
<div ng-click="previous(); stop()"><span class='ion-chevron-left'></span></div>
<div class="home-title">
  <div>{{title}}</div>
  <div class='home-color'>{{color}}</div>
  <button>Shop Now</button>
</div>
<div ng-click="next(); stop()"><span class='ion-chevron-right'></span></div>
</div>
</section>
<div class='carouselTitle'>
<div ng-click="previous(); stop()"><span class='ion-chevron-left'></span></div>
<div class="home-title">
  <div>{{nextTitle}}</div>
  <div class='home-color'>{{nextColor}}</div>
  <button>Shop Now</button>
</div>
<div ng-click="next(); stop()"><span class='ion-chevron-right'></span></div>
</div>
</section>
