<div class="journal-header">
  <h1>JOURNAL</h1>
</div>
<div class="journal-intro">
  <p>Grovemade is as much about its people as it is about its products. In our journal, we discuss and explore the processes behind our designs and manufacturing techniques, what it means to run an independent manufacturing business in 2016, as well as insights about our team and culture</p>
</div>
<div class="all-journal-entries" >

  <div ng-mouseenter="onHover($index)" ng-mouseleave="onLeave($index)" ng-repeat="entry in journal track by $index" ng-switch="selection" class="individual-entry" style="background: url('{{entry.photo_url}}');
           background-size: cover;
           height: 26vw;
           width: 26vw;
           background-position: center;
           cursor:pointer;">
           <!-- this div is for the hover effect -->
           <!-- ng-if checks to see if the selected index we are on is the div we want , if it is, it fires off a function in the journalCtrl-->
    <div ng-class="covering" ng-if="$index === selected" ui-sref='{{entry.id}}'></div>
    <div class="journal-title">{{entry.title}}</div>

  </div>
</div>
