<div class = "nav">
  <a ui-sref="home" id="navbar-logo"><img src="/img/Screen Shot fixed.png" alt=""></a>

  <div class = "nav-bar-wrapper">
  <a ui-sref="shop" id="nav-bar-center">Shop</a>
  <a ui-sref="about" id="nav-bar-center">About</a>
  <a ui-sref="journal" id="nav-bar-center">Journal</a>
  </div>
  <div class="nav-newsletter-cart-wrapper">
    <div class='nav-newsletter'>
      <a>Newsletter</a>
    </div>
    <div class='nav-cart'>
      <a><img src="/img/white-cart.png" alt=""></a>
    </div>
  </div>
</div>
