<div class='newsletter-popup-container'>
  <div class='newsletter-popup-content'>
    <p>Close</p>
    <div class='grovemade-logo'>
    </div>
    <h3>10% OFF YOUR FIRST ORDER</h3>
    <p>Stay up to date on the latest product releases, special offers & Grovemade news by signing up for our newsletter.</p>
    <div class='newsletter-signup'>
      <form>
        <input type="email" name="email" placeholder="Enter Your Email">
        <span><button>SUBMIT</button></span>
      </form>
      <p>Sign up to be the first to learn about new product introductions, restocks and events.</p>
    </div>
  </div>
</div>
