<section class="productPage">
  <div class="productPageWrapper">
    <div class="upperCarousel"></div>
    <div class="productDescription">
      <div>
        <h2 class="productTitle">{{item[0].name}}</h2>
        <p class="price">{{sizes[0].price}}</p>
        <p class="description">{{item[0].description}}</p>
        <select  ng-model="size" ng-options='item.size for item in sizes' ng-change="getImages(size)" class="dropdown">
          <!--<option ng-options='item for item in sizes'>{{size.size}}</option>-->

        </select>
        <button class="addToCart">ADD TO CART</button>
        <p>Scroll For More Info</p>
        <p>Orders Over $150 Ship Free (USA)</p>
      </div>
    </div>
  </div>

  <div clas="lowerCarousel"></div>

  <div class="techSpecs"></div>
</section>