<div class="caseBuyer-header"></div>
<section>
  <div class="journal-title">WHAT KIND OF CASE BUYER ARE YOU?</div>
  <div>
    <p class="intro">We make iPhone cases, focusing on natural materials and great design. They’re perfect for some people… but totally wrong
      for many others. Everybody’s unique. We want you to love your iPhone case, whichever brand it is.</p>
    <p class="intro-2">We put together a guide to help you find the right one. Just be honest, maybe you’ll learn a little about yourself as
      you navigate the consumer jungle. Bon voyage!</p>
  </div>
  <div class="flowchart-wrapper">
    <img class="flowchart" src="/img/iphone-buyers-guide-A2-01.png" />
  </div>

  <div class="buyer-types">
    <div class="buyer-title">THE BARGAIN HUNTER</div>
    <div class="buyerType-Wrapper">
      <div class="buyerImage-wrapper">
        <img class="buyer-image" src="/img/iphone-buyers-guide-B1_vv_1.png" />
      </div>
      <div class="buyer-description">
        <p class="description">For you, the case is all about getting some clothing on your phone for as little as possible. Simple silicone shell?
          Perfect. Keeps your camera lens from getting scratched? Ideal. The right move for you is something that’s not expensive…
          but you already knew that. Cash Rules Everything Around You - so you’re not about to shell out a fat stack for
          an iPhone case. </p>
        <div class="pro-con">
          <div class="pro">
            <p><b>PRO:</b> You don’t pay very much</p>
          </div>
          <div class="con">
            <p><b>CON:</b> You get what you pay for</p>
          </div>
        </div>
        <div class="recommendation">
          <p>Recommendation: The bargain bin<sup>1</sup></p>
        </div>
      </div>
    </div>
  </div>

  <div class="buyer-types">
    <div class="buyer-title">M.C. DROPS A LOT</div>
    <div class="buyerType-Wrapper">
      <div class="buyerImage-wrapper">
        <img class="buyer-image" src="/img/iphone-buyers-guide-E1.png" />
      </div>
      <div class="buyer-description">
        <p class="description">It’s not your fault, we know. The new iPhones are slippery. And there’s a lot going on, and in and out of your pocket
          100 times per day, just statistically, is going to lead to some drops. We’re not judging, we’re just here to help.
          You need a case that is going to protect your investment, and you’re willing to make another investment to make
          sure that your phone’s taken care of.</p>
        <div class="pro-con">
          <div class="pro">
            <p><b>PRO:</b> Great protection</p>
          </div>
          <div class="con">
            <p><b>CON:</b> Hard to use natural materials / Adds bulk to your phone</p>
          </div>
        </div>
        <div class="recommendation">
          <p>Recommendation: Otterbox<sup>2</sup> or Lunatik<sup>3</sup></p>
        </div>
      </div>
    </div>
  </div>

  <div class="buyer-types">
    <div class="buyer-title">THE SURVIVALIST</div>
    <div class="buyerType-Wrapper">
      <div class="buyerImage-wrapper">
        <img class="buyer-image" src="/img/iphone-buyers-guide-D1_1.png" />
      </div>
      <div class="buyer-description">
        <p class="description">Thanks for taking a break from your backpacking trip to read our email. You are the type of person who has a dive
          watch that you actually use, and sometimes you disappear for weeks at a time and return with a few dozen otter
          pelts. Or exotic Mongolian rugs. Or a selfie with some bedouins. You need a phone case that’ll keep up. Slim? More
          like beefy and able to repel small arms ammunition.</p>
        <div class="pro-con">
          <div class="pro">
            <p><b>PRO:</b> Great protection</p>
          </div>
          <div class="con">
            <p><b>CON:</b> Good luck slipping it into your pocket</p>
          </div>
        </div>
        <div class="recommendation">
          <p>Recommendation: LifeProof<sup>4</sup> or Dog & Bone<sup>5</sup></p>
        </div>
      </div>
    </div>
  </div>

  <div class="buyer-types">
    <div class="buyer-title">REBEL WITHOUT A CASE</div>
    <div class="buyerType-Wrapper">
      <div class="buyerImage-wrapper-2">
        <img class="buyer-image" src="/img/iphone-buyers-guide-C1_1.png" />
      </div>
      <div class="buyer-description">
        <p class="description">You like your iPhone as nature intended. Cases? You don’t need no stinking cases. You might be a jazz pianist, or
          moonlight as the shortstop for the New York Yankees, because you’ve got hand-eye coordination to spare. Dropping
          your iPhone isn’t your main concern.</p>
        <div class="pro-con">
          <div class="pro">
            <p><b>PRO:</b> Simple, free, and your phone stays as slim as the day it was born</p>
          </div>
          <div class="con">
            <p><b>CON:</b> Fingers crossed you don’t drop it</p>
          </div>
        </div>
        <div class="recommendation">
          <p>Recommendation: <i>Good Luck!</i></p>
        </div>
      </div>
    </div>
  </div>

  <div class="buyer-types">
    <div class="buyer-title">THE DESIGN ENTHUSIAST</div>
    <div class="buyerType-Wrapper">
      <div class="buyerImage-wrapper-3">
        <img class="buyer-image" src="/img/iphone-buyers-guide-G1.png" />
      </div>
      <div class="buyer-description">
        <p class="description">You recently found and re-upholstered an Eames chair. You’re in pursuit of the “perfect line.” We get you. The objects
          that you use throughout your day are important, the way they look and feel and function keeps you going. You appreciate
          things that are made the hard way, because you love to dive in and work hard in your own life.</p>
        <div class="pro-con">
          <div class="pro">
            <p><b>PRO:</b> Natural materials / Slim profile</p>
          </div>
          <div class="con">
            <p><b>CON:</b> Case might not survive an impact</p>
          </div>
        </div>
        <div class="recommendation-2">
          <p>Recommendation: <a class="anchor-tag" href="http://localhost:3050/#!/shop">Grovemade</a> or Miniot<sup>6</sup></p>
        </div>
      </div>
    </div>
  </div>

  <div class="links-wrapper">
    <div class="buyer-title-2">LINKS</div>
    <div class="links">
      <p>(1) <a class="anchor-tag" href="https://www.amazon.com/s/ref=nb_sb_noss_2?url=search-alias%3Daps&field-keywords=cheap+iphone+case">The bargain bin</a>        (2) <a class="anchor-tag" href="http://www.otterbox.com/en-us/iphone-7/defender-series-build-your-own-case/apl2-iph16-byo.html#start=1">Otterbox</a>        
      (3) <a class="anchor-tag" href="https://www.lunatik.com/collections/iphone-6-6s/products/taktik-strike-for-iphone-6-6s?variant=19387547715">Lunatik</a>        
      (4) <a class="anchor-tag" href="http://www.lifeproof.com/en-us/iphone-7/fre-for-iphone-7/lpfr-apl-iph16.html">LifeProof</a>        
      (5) <a class="anchor-tag" href="https://www.dogandbonecases.com/products/apple/iphone-7/wetsuit-impact-waterproof-rugged/wetsuit-impact-iphone-7-waterproof-rugged-case/">Dog & Bone</a>        
      (6) <a class="anchor-tag" href="https://miniot.com/collections/iphone/products/miniot-contour-7-for-iphone-7?variant=31225267980">Miniot</a>
      </p>
    </div>
  </div>

</section>