.carousel-inner > .item > img {
  height: 100vh !important;
  width: 100%;
  margin: 0; }

@import url(//db.onlinewebfonts.com/c/ab596f21664c5582567537d241e2a53e?family=DINNextRoundedLTW01-Regular);
@font-face {
  font-family: "DINNextRoundedLTW01-Regular";
  src: url("//db.onlinewebfonts.com/t/ab596f21664c5582567537d241e2a53e.eot");
  src: url("//db.onlinewebfonts.com/t/ab596f21664c5582567537d241e2a53e.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/ab596f21664c5582567537d241e2a53e.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/ab596f21664c5582567537d241e2a53e.woff") format("woff"), url("//db.onlinewebfonts.com/t/ab596f21664c5582567537d241e2a53e.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/ab596f21664c5582567537d241e2a53e.svg#DINNextRoundedLTW01-Regular") format("svg"); }

.home-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 525px;
  word-wrap: break-word;
  font-size: 90px;
  letter-spacing: 2.3px;
  font-family: "DINNextRoundedLTW01-Regular";
  text-align: center;
  overflow: auto; }

.home-title button {
  border: 3px solid white;
  color: white;
  background-color: transparent;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  width: 146px;
  padding: 8px 10px 8px 10px; }

.home-color {
  font-size: 20px;
  letter-spacing: 7.3px;
  font-family: "DINNextRoundedLTW01-Regular";
  padding-top: 35px;
  padding-bottom: 35px; }

.carouselTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 40vh;
  padding-left: 50px;
  padding-right: 50px;
  color: white; }

.homeSection {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.homeSection div {
  color: white; }

@import url(//db.onlinewebfonts.com/c/ab596f21664c5582567537d241e2a53e?family=DINNextRoundedLTW01-Regular);
@font-face {
  font-family: "DINNextRoundedLTW01-Regular";
  src: url("//db.onlinewebfonts.com/t/ab596f21664c5582567537d241e2a53e.eot");
  src: url("//db.onlinewebfonts.com/t/ab596f21664c5582567537d241e2a53e.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/ab596f21664c5582567537d241e2a53e.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/ab596f21664c5582567537d241e2a53e.woff") format("woff"), url("//db.onlinewebfonts.com/t/ab596f21664c5582567537d241e2a53e.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/ab596f21664c5582567537d241e2a53e.svg#DINNextRoundedLTW01-Regular") format("svg"); }

* {
  margin: 0px; }

.nav {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 72px;
  width: 100%;
  text-decoration: none;
  z-index: 10;
  padding-top: 20px; }

.nav a {
  text-decoration: none;
  font-family: "DINNextRoundedLTW01-Regular";
  color: white; }

.nav img {
  height: 77px;
  width: 305px;
  z-index: 10; }

#navbar-logos {
  position: fixed;
  left: 30px;
  width: 280px;
  float: left;
  z-index: 10;
  padding-right: 10px; }
  #navbar-logos path {
    fill: white; }

#nav-bar-center {
  margin: 0 15px;
  z-index: 10; }

.sliding-u-t-b {
  border-bottom: 0px solid transparent;
  transition: 0.5s ease; }

.sliding-u-t-b:hover {
  border-bottom: 2px solid white;
  padding-bottom: 2px;
  border-radius: .7px; }

.nav-bar-wrapper {
  float: left;
  font-size: 15px;
  letter-spacing: 2.3px;
  z-index: 10;
  text-transform: uppercase;
  padding-left: 20px; }

.nav-newsletter-cart-wrapper {
  width: 217px;
  position: fixed;
  right: 55px;
  z-index: 10; }

.nav-newsletter {
  float: left;
  font-size: 15px;
  letter-spacing: 2.3px;
  text-transform: uppercase;
  position: relative;
  top: 5px;
  right: -46px;
  z-index: 10; }

.nav-cart {
  color: white;
  float: right;
  position: relative;
  top: 5px;
  height: 26px;
  width: 22px;
  z-index: 10; }
