@import url(//db.onlinewebfonts.com/c/ab596f21664c5582567537d241e2a53e?family=DINNextRoundedLTW01-Regular);
@font-face {
  font-family: "DINNextRoundedLTW01-Regular";
  src: url("//db.onlinewebfonts.com/t/ab596f21664c5582567537d241e2a53e.eot");
  src: url("//db.onlinewebfonts.com/t/ab596f21664c5582567537d241e2a53e.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/ab596f21664c5582567537d241e2a53e.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/ab596f21664c5582567537d241e2a53e.woff") format("woff"), url("//db.onlinewebfonts.com/t/ab596f21664c5582567537d241e2a53e.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/ab596f21664c5582567537d241e2a53e.svg#DINNextRoundedLTW01-Regular") format("svg"); }

.about-header {
  background: url("/img/about-2016-C3_2.jpg");
  height: 400px;
  width: 100%;
  background-position: center center;
  background-size: cover; }

#stylize-headers {
  font-family: "DINNextRoundedLTW01-Regular";
  font-size: 48px;
  font-weight: lighter;
  color: #494c51;
  text-align: center;
  margin: 0 190px; }

#stylize-p {
  font-family: "DINNextRoundedLTW01-Regular";
  text-align: center;
  color: #939393;
  line-height: 200%;
  font-size: 16px;
  width: 50%;
  float: none;
  margin: auto; }

.what-matters {
  margin-top: 70px;
  margin-bottom: 130px; }

.we-believe {
  margin-top: 100px;
  margin-right: 100px;
  margin-left: 100px;
  margin-bottom: 100px;
  text-align: center; }

.inner-box {
  margin-top: 60px;
  margin-bottom: -20px;
  text-align: center; }

.image-block-2-space {
  margin-top: 100px;
  margin-bottom: -20px; }

.image-block-wrapper {
  display: flex;
  flex-wrap: wrap;
  height: 390px;
  width: auto;
  justify-content: center;
  margin-bottom: 100px; }

.image-block-img1 {
  width: auto;
  height: 388px;
  padding-right: 14px; }

.image-block-img2 {
  width: auto;
  height: 388px;
  padding-left: 14px; }

.image-block-1-img {
  display: flex;
  width: 100%;
  justify-content: center; }

.all-employees {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0px 30px; }

.single-employees {
  padding: 0 2px; }

.single-employees-img {
  padding: 8px 16px;
  cursor: pointer; }

.our-story {
  margin-top: 160px;
  margin-bottom: 125px; }

.our-story-p {
  padding-top: 65px; }

.hands-on-deck-p {
  margin-top: 137px;
  margin-bottom: 115px; }

.hands-on-deck-p2 {
  margin-top: 68px;
  margin-bottom: 114px; }

.visit-our-shop {
  margin-top: 118px;
  margin-bottom: 95px; }

.visit-our-shop-p2 {
  margin-bottom: 50px;
  margin-top: 70px; }

.what-matters-p {
  margin-bottom: 125px; }

.what-matters-h {
  margin-bottom: 145px; }

.italicized-sentence {
  font-style: italic; }

.carousel-inner > .item > img {
  height: 100vh !important;
  width: 100%;
  margin: 0; }


@import url(//db.onlinewebfonts.com/c/ab596f21664c5582567537d241e2a53e?family=DINNextRoundedLTW01-Regular);
@import url(//db.onlinewebfonts.com/c/9ae5e19516bc6428f1327ff3311b2617?family=DINNextW01-Light);
@font-face {
  font-family: "DINNextRoundedLTW01-Regular";
  src: url("//db.onlinewebfonts.com/t/ab596f21664c5582567537d241e2a53e.eot");
  src: url("//db.onlinewebfonts.com/t/ab596f21664c5582567537d241e2a53e.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/ab596f21664c5582567537d241e2a53e.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/ab596f21664c5582567537d241e2a53e.woff") format("woff"), url("//db.onlinewebfonts.com/t/ab596f21664c5582567537d241e2a53e.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/ab596f21664c5582567537d241e2a53e.svg#DINNextRoundedLTW01-Regular") format("svg"); }

@font-face {
  font-family: "DINNextW01-Light";
  src: url("//db.onlinewebfonts.com/t/9ae5e19516bc6428f1327ff3311b2617.eot");
  src: url("//db.onlinewebfonts.com/t/9ae5e19516bc6428f1327ff3311b2617.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/9ae5e19516bc6428f1327ff3311b2617.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/9ae5e19516bc6428f1327ff3311b2617.woff") format("woff"), url("//db.onlinewebfonts.com/t/9ae5e19516bc6428f1327ff3311b2617.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/9ae5e19516bc6428f1327ff3311b2617.svg#DINNextW01-Light") format("svg"); }

.ergonomics-header {
  background: url("/img/collections-cover-walnutdesk-D2_2.jpg");
  height: 400px;
  width: 100%;
  background-position: center center;
  background-size: cover; }

.ergonomics-all-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 37px; }
  .ergonomics-all-content h3 {
    font-family: "DINNextRoundedLTW01-Regular";
    font-size: 28px;
    letter-spacing: .4em;
    line-height: 34px;
    font-weight: 100;
    margin-top: 30px;
    margin-bottom: 30px; }
  .ergonomics-all-content p {
    width: 50%;
    margin-top: 35px;
    margin-bottom: 38px;
    font-family: "DINNextW01-Light";
    font-size: 16px;
    letter-spacing: 0;
    line-height: 200%;
    color: #939393; }
  .ergonomics-all-content img {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 64%;
    width: 51%; }
  .ergonomics-all-content .two-pics-container {
    display: flex;
    justify-content: space-around;
    width: 56.5%;
    height: 40%; }
    .ergonomics-all-content .two-pics-container img {
      height: 18vw;
      width: 27vw; }
  .ergonomics-all-content .backpain-pic {
    height: auto;
    width: 37%; }
  .ergonomics-all-content .ergonomics-monitor-stands-pic {
    height: auto;
    width: 37%; }
  .ergonomics-all-content button {
    font-size: 12px;
    letter-spacing: .2em;
    font-family: "DINNextRoundedLTW01-Regular";
    line-height: 34px;
    cursor: pointer;
    border: 3px solid #424242;
    background: white;
    color: #424242;
    font-weight: bold;
    height: 41px; }
  .ergonomics-all-content button:hover {
    background: #424242;
    color: white; }
  .ergonomics-all-content .ergonomics-laptop-stands-pic {
    height: auto;
    width: 37%; }
  .ergonomics-all-content .ergonomics-last-button {
    margin-top: 30px;
    margin-bottom: 100px; }

@import url(//db.onlinewebfonts.com/c/ab596f21664c5582567537d241e2a53e?family=DINNextRoundedLTW01-Regular);
@font-face {
  font-family: "DINNextRoundedLTW01-Regular";
  src: url("//db.onlinewebfonts.com/t/ab596f21664c5582567537d241e2a53e.eot");
  src: url("//db.onlinewebfonts.com/t/ab596f21664c5582567537d241e2a53e.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/ab596f21664c5582567537d241e2a53e.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/ab596f21664c5582567537d241e2a53e.woff") format("woff"), url("//db.onlinewebfonts.com/t/ab596f21664c5582567537d241e2a53e.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/ab596f21664c5582567537d241e2a53e.svg#DINNextRoundedLTW01-Regular") format("svg"); }

footer {
  overflow: auto;
  position: relative; }

.footer-wrapper {
  width: 100%;
  height: 500px;
  background-color: #4a4d51;
  color: white;
  overflow: auto;
  text-align: center;
  padding-top: 75px;
  padding-bottom: 70px; }

.footer-content {
  overflow: auto; }
  .footer-content .arrow-to-top {
    cursor: pointer; }
  .footer-content p {
    font-size: 11px;
    font-family: "DINNextRoundedLTW01-Regular";
    letter-spacing: 2px;
    margin-top: 20px; }

.social-icon {
  color: white; }

.newsletter-signup {
  margin-top: 80px;
  margin-bottom: 30px; }
  .newsletter-signup input {
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
    font-size: 20px;
    font-family: "DINNextRoundedLTW01-Regular";
    min-width: 275px;
    padding: 10px 20px;
    padding-left: 0;
    letter-spacing: .1em;
    font-weight: 300;
    outline: none;
    color: white; }
  .newsletter-signup button {
    border: 2px solid white;
    background: transparent;
    margin-left: 10px;
    height: 40px;
    width: 80px;
    line-height: 40px;
    vertical-align: bottom;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1.5px;
    color: white;
    padding: 0 0; }
  .newsletter-signup button:hover {
    background-color: white;
    color: #4a4d51; }
  .newsletter-signup button:focus {
    outline: none; }
  .newsletter-signup p {
    margin: 32px 0;
    font-weight: 300; }

.social-media-footer {
  margin-top: 95px; }
  .social-media-footer p {
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 2px; }
  .social-media-footer .social-links {
    margin-top: 25px; }
    .social-media-footer .social-links a {
      cursor: pointer; }
    .social-media-footer .social-links a:hover {
      opacity: 0.6; }
  .social-media-footer .social-icon {
    font-size: 30px;
    margin: 0 11px; }

.footer-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  line-height: 50px;
  border-top: 1px solid #808080;
  border-bottom: 1px solid white;
  color: white;
  font-family: "DINNextRoundedLTW01-Regular"; }
  .footer-bar .footer-bar-left {
    float: left;
    text-align: left;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 1.6px;
    display: inline-block;
    height: 50px;
    padding-left: 15px; }
    .footer-bar .footer-bar-left a {
      margin: 0 10px; }
  .footer-bar .footer-bar-center {
    font-size: 11px;
    letter-spacing: 1.3px;
    display: inline-block;
    height: 50px;
    margin-left: -90px;
    text-align: center; }
    .footer-bar .footer-bar-center a {
      margin: 0 10px; }
  .footer-bar .footer-bar-right {
    float: right;
    font-size: 11px;
    letter-spacing: 1.3px;
    display: inline-block;
    height: 50px;
    padding-right: 15px; }
    .footer-bar .footer-bar-right a {
      margin: 0 10px; }

@import url(//db.onlinewebfonts.com/c/ab596f21664c5582567537d241e2a53e?family=DINNextRoundedLTW01-Regular);
@font-face {
  font-family: "DINNextRoundedLTW01-Regular";
  src: url("//db.onlinewebfonts.com/t/ab596f21664c5582567537d241e2a53e.eot");
  src: url("//db.onlinewebfonts.com/t/ab596f21664c5582567537d241e2a53e.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/ab596f21664c5582567537d241e2a53e.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/ab596f21664c5582567537d241e2a53e.woff") format("woff"), url("//db.onlinewebfonts.com/t/ab596f21664c5582567537d241e2a53e.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/ab596f21664c5582567537d241e2a53e.svg#DINNextRoundedLTW01-Regular") format("svg"); }

.home-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 525px;
  word-wrap: break-word;
  font-size: 90px;
  letter-spacing: 2.3px;
  font-family: "DINNextRoundedLTW01-Regular";
  text-align: center;
  overflow: auto; }

.home-title button {
  border: 3px solid white;
  color: white;
  background-color: transparent;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  width: 146px;
  padding: 8px 10px 8px 10px; }

.home-title button:hover {
  background-color: rgba(0, 0, 0, 0.3);
  opacity: .5; }

.home-title button:focus {
  outline: none; }

.home-color {
  font-size: 20px;
  letter-spacing: 7.3px;
  font-family: "DINNextRoundedLTW01-Regular";
  padding-top: 35px;
  padding-bottom: 35px; }

.carouselTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 40vh;
  color: white; }

.homeSection {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.homeSection div {
  color: white; }

.ion-chevron-right {
  padding-right: 40px;
  font-size: 30px; }

.ion-chevron-left {
  padding-left: 40px;
  font-size: 30px; }

@import url(//db.onlinewebfonts.com/c/ab596f21664c5582567537d241e2a53e?family=DINNextRoundedLTW01-Regular);
@import url(//db.onlinewebfonts.com/c/9ae5e19516bc6428f1327ff3311b2617?family=DINNextW01-Light);
@font-face {
  font-family: "DINNextRoundedLTW01-Regular";
  src: url("//db.onlinewebfonts.com/t/ab596f21664c5582567537d241e2a53e.eot");
  src: url("//db.onlinewebfonts.com/t/ab596f21664c5582567537d241e2a53e.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/ab596f21664c5582567537d241e2a53e.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/ab596f21664c5582567537d241e2a53e.woff") format("woff"), url("//db.onlinewebfonts.com/t/ab596f21664c5582567537d241e2a53e.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/ab596f21664c5582567537d241e2a53e.svg#DINNextRoundedLTW01-Regular") format("svg"); }

@font-face {
  font-family: "DINNextW01-Light";
  src: url("//db.onlinewebfonts.com/t/9ae5e19516bc6428f1327ff3311b2617.eot");
  src: url("//db.onlinewebfonts.com/t/9ae5e19516bc6428f1327ff3311b2617.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/9ae5e19516bc6428f1327ff3311b2617.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/9ae5e19516bc6428f1327ff3311b2617.woff") format("woff"), url("//db.onlinewebfonts.com/t/9ae5e19516bc6428f1327ff3311b2617.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/9ae5e19516bc6428f1327ff3311b2617.svg#DINNextW01-Light") format("svg"); }

.journal-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("/img/journal-image.jpg");
  height: 400px;
  width: 100%;
  background-position: center center;
  background-size: cover; }
  .journal-header h1 {
    font-family: "DINNextRoundedLTW01-Regular";
    color: white;
    font-size: 60px;
    letter-spacing: 0.2em;
    font-weight: 100; }

.journal-intro {
  width: 100%;
  height: 21vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  .journal-intro p {
    margin-left: 22%;
    margin-right: 22%;
    text-align: center;
    font-size: 13px;
    font-family: "DINNextW01-Light"; }

.all-journal-entries {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px; }
  .all-journal-entries .individual-entry {
    margin-top: 1.5vw;
    margin-left: .75vw;
    margin-right: .75vw;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 2vw;
    z-index: 8; }
    .all-journal-entries .individual-entry .journal-title {
      width: 66%;
      font-family: "DINNextW01-Light";
      color: white;
      font-size: 23px;
      z-index: 10; }

.cover {
  height: 30vw;
  width: 30vw;
  margin: 2vw -2vw;
  background: black;
  position: absolute;
  z-index: 9; }

@import url(//db.onlinewebfonts.com/c/ab596f21664c5582567537d241e2a53e?family=DINNextRoundedLTW01-Regular);
@font-face {
  font-family: "DINNextRoundedLTW01-Regular";
  src: url("//db.onlinewebfonts.com/t/ab596f21664c5582567537d241e2a53e.eot");
  src: url("//db.onlinewebfonts.com/t/ab596f21664c5582567537d241e2a53e.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/ab596f21664c5582567537d241e2a53e.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/ab596f21664c5582567537d241e2a53e.woff") format("woff"), url("//db.onlinewebfonts.com/t/ab596f21664c5582567537d241e2a53e.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/ab596f21664c5582567537d241e2a53e.svg#DINNextRoundedLTW01-Regular") format("svg"); }

.vday-header {
  background: url("/img/homemarq-walnut-desk-collection-C2.jpg");
  height: 400px;
  width: 100%;
  background-position: center center;
  background-size: cover; }

.journal-title {
  padding-top: 75px;
  padding-bottom: 75px;
  font-family: "DINNextRoundedLTW01-Regular";
  font-size: 28px;
  color: #494c51;
  display: flex;
  align-content: center;
  justify-content: center;
  letter-spacing: .4em; }

.journal-text {
  flex-direction: column;
  padding-left: 33%;
  padding-right: 33%;
  font-family: "DINNextRoundedLTW01-Regular";
  font-size: 16px;
  color: #939393;
  display: flex;
  align-content: center;
  justify-content: center;
  line-height: 200%; }

.paragraph {
  padding-top: 20px; }

.paragraphV2 {
  padding-top: 20px;
  padding-bottom: 100px; }

.instagram-embed {
  display: flex;
  padding-top: 75px;
  padding-bottom: 20px;
  justify-content: center; }

@import url(//db.onlinewebfonts.com/c/ab596f21664c5582567537d241e2a53e?family=DINNextRoundedLTW01-Regular);
@font-face {
  font-family: "DINNextRoundedLTW01-Regular";
  src: url("//db.onlinewebfonts.com/t/ab596f21664c5582567537d241e2a53e.eot");
  src: url("//db.onlinewebfonts.com/t/ab596f21664c5582567537d241e2a53e.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/ab596f21664c5582567537d241e2a53e.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/ab596f21664c5582567537d241e2a53e.woff") format("woff"), url("//db.onlinewebfonts.com/t/ab596f21664c5582567537d241e2a53e.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/ab596f21664c5582567537d241e2a53e.svg#DINNextRoundedLTW01-Regular") format("svg"); }

* {
  margin: 0px; }

.nav {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 72px;
  width: 100%;
  text-decoration: none;
  z-index: 10;
  padding-top: 20px; }

.sticky-nav {
  position: fixed;
  background-color: #424242;
  height: 60px;
  top: 0;
  margin-top: 0;
  z-index: 11;
  padding-top: 1px; }

.nav a {
  text-decoration: none;
  font-family: "DINNextRoundedLTW01-Regular";
  color: white; }

.nav img {
  height: 77px;
  width: 305px;
  z-index: 10; }

#navbar-logos {
  position: fixed;
  left: 30px;
  width: 280px;
  float: left;
  z-index: 10;
  padding-right: 10px; }
  #navbar-logos path {
    fill: white; }

#nav-bar-center {
  margin: 0 15px;
  z-index: 10; }

.sliding-u-t-b {
  border-bottom: 0px solid transparent;
  transition: 0.5s ease; }

.sliding-u-t-b:focus {
  border-bottom: 2px solid white;
  padding-bottom: 2px;
  border-radius: .7px; }

.nav-bar-wrapper {
  float: left;
  font-size: 15px;
  letter-spacing: 2.3px;
  z-index: 10;
  text-transform: uppercase;
  padding-left: 20px; }

.nav-newsletter-cart-wrapper {
  width: 217px;
  position: fixed;
  right: 55px;
  z-index: 10; }

.nav-newsletter {
  float: left;
  font-size: 15px;
  letter-spacing: 2.3px;
  text-transform: uppercase;
  position: relative;
  top: 5px;
  right: -46px;
  z-index: 10;
  cursor: pointer; }

.nav-cart {
  color: white;
  float: right;
  position: relative;
  top: 5px;
  height: 26px;
  width: 22px;
  z-index: 10; }

.newsletter-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center; }

.newsletter-popup-container {
  width: 520px;
  height: 320px;
  background-color: #4a4c51;
  border: 10px solid white;
  color: white;
  text-align: center;
  position: absolute; }

.newsletter-popup-content {
  padding: 30px 10px;
  font-family: "DINNextRoundedLTW01-Regular";
  font-weight: 100; }
  .newsletter-popup-content .newsletter-close {
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
    font-weight: 100;
    font-size: 13px;
    letter-spacing: .1em; }
  .newsletter-popup-content h3 {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: .3em;
    font-weight: 100; }
  .newsletter-popup-content .newsletter-content {
    color: #bcbec0;
    font-weight: 100;
    font-size: 12px;
    letter-spacing: .1em; }

.icon-grovemade-logo {
  background-color: #424242;
  width: 70px;
  height: 70px; }

.newsletter-signup-popup {
  margin-top: 30px;
  margin-bottom: 30px; }
  .newsletter-signup-popup input {
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
    font-size: 20px;
    font-family: "DINNextRoundedLTW01-Regular";
    min-width: 275px;
    padding: 10px 20px;
    padding-left: 0;
    letter-spacing: .1em;
    font-weight: 300;
    outline: none;
    color: white; }
  .newsletter-signup-popup button {
    border: 2px solid white;
    background: transparent;
    margin-left: 10px;
    height: 40px;
    width: 80px;
    line-height: 40px;
    vertical-align: bottom;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1.5px;
    color: white;
    padding: 0 0; }
  .newsletter-signup-popup button:hover {
    background-color: white;
    color: #4a4d51; }
  .newsletter-signup-popup button:focus {
    outline: none; }
  .newsletter-signup-popup p {
    margin: 32px 0;
    font-weight: 300; }

.hide-newsletter {
  display: none; }

.sticky-cart {
  height: auto;
  width: 31%;
  background-color: #F6F7F9;
  position: absolute;
  text-align: center;
  right: 20px;
  top: 2px;
  z-index: 300;
  border: none;
  display: none; }
  .sticky-cart .your-cart {
    width: 100.13%;
    background-color: #424242;
    height: 59px;
    color: white;
    text-align: left;
    border: none; }
    .sticky-cart .your-cart h2 {
      font-family: "DINNextRoundedLTW01-Regular";
      margin-left: 20px;
      line-height: 60px;
      font-weight: 100;
      letter-spacing: 11px; }
  .sticky-cart h4 {
    font-family: "DINNextRoundedLTW01-Regular";
    font-weight: 100;
    clear: both;
    float: left;
    margin-top: 20px;
    margin-left: 4%; }
  .sticky-cart button {
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 50px;
    width: 91%;
    border: none;
    text-align: center;
    background-color: #424242;
    color: white;
    font-size: 23px;
    letter-spacing: 6px; }
  .sticky-cart p {
    font-size: 14px;
    margin-bottom: 15px;
    color: #f69368; }
  .sticky-cart .hr_lookalike {
    background-color: #121212;
    height: 0.5px;
    width: 91%;
    margin: auto;
    margin-bottom: 15px; }

@import url(//db.onlinewebfonts.com/c/ab596f21664c5582567537d241e2a53e?family=DINNextRoundedLTW01-Regular);
@font-face {
  font-family: "DINNextRoundedLTW01-Regular";
  src: url("//db.onlinewebfonts.com/t/ab596f21664c5582567537d241e2a53e.eot");
  src: url("//db.onlinewebfonts.com/t/ab596f21664c5582567537d241e2a53e.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/ab596f21664c5582567537d241e2a53e.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/ab596f21664c5582567537d241e2a53e.woff") format("woff"), url("//db.onlinewebfonts.com/t/ab596f21664c5582567537d241e2a53e.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/ab596f21664c5582567537d241e2a53e.svg#DINNextRoundedLTW01-Regular") format("svg"); }

@import url(//db.onlinewebfonts.com/c/ab596f21664c5582567537d241e2a53e?family=DINNextRoundedLTW01-Regular);
@font-face {
  font-family: "DINNextRoundedLTW01-Regular";
  src: url("//db.onlinewebfonts.com/t/ab596f21664c5582567537d241e2a53e.eot");
  src: url("//db.onlinewebfonts.com/t/ab596f21664c5582567537d241e2a53e.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/ab596f21664c5582567537d241e2a53e.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/ab596f21664c5582567537d241e2a53e.woff") format("woff"), url("//db.onlinewebfonts.com/t/ab596f21664c5582567537d241e2a53e.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/ab596f21664c5582567537d241e2a53e.svg#DINNextRoundedLTW01-Regular") format("svg"); }

.shop-header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("/img/collections-desk-planters-A2_10.jpg");
  height: 400px;
  width: 100%;
  background-position: center center;
  background-size: cover; }
  .shop-header h1 {
    font-family: "DINNextRoundedLTW01-Regular";
    color: white;
    font-size: 60px;
    letter-spacing: 0.4em;
    font-weight: 100; }
  .shop-header .shop-header-filter-wrapper {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10%; }
  .shop-header .filter-button {
    position: relative;
    text-align: center;
    width: 21vw;
    height: auto;
    border-top: solid white;
    border-right: solid white;
    border-width: 1px;
    cursor: pointer; }
    .shop-header .filter-button p {
      padding: 13px;
      color: white;
      font-family: "DINNextRoundedLTW01-Regular";
      font-size: 12px;
      letter-spacing: .4em;
      font-weight: 100;
      text-align: left; }
    .shop-header .filter-button h5 {
      float: right;
      position: absolute;
      color: white;
      top: 31%;
      right: 11px; }
  .shop-header .shop-header-filter-wrapper:hover .collection-button {
    opacity: 1;
    transition: opacity 0.2s linear 0s; }
  .shop-header .shop-header-filter-wrapper:hover .material-button {
    opacity: 1;
    transition: opacity 0.2s linear 0s; }
  .shop-header .collection-button {
    position: relative;
    text-align: center;
    width: 21vw;
    height: auto;
    border-top: solid white;
    border-right: solid white;
    border-width: 1px;
    cursor: pointer;
    opacity: 0; }
    .shop-header .collection-button p {
      padding: 13px;
      color: white;
      font-family: "DINNextRoundedLTW01-Regular";
      font-size: 12px;
      letter-spacing: .4em;
      font-weight: 100;
      text-align: left; }
    .shop-header .collection-button h5 {
      position: absolute;
      color: white;
      top: 31%;
      right: 11px; }
    .shop-header .collection-button .collection-dropdown-menu {
      width: 21vw;
      height: auto;
      position: absolute;
      right: 0%;
      z-index: 10;
      visibility: hidden;
      background-color: #F5F6F6; }
      .shop-header .collection-button .collection-dropdown-menu p {
        float: left;
        font-size: 12px;
        cursor: pointer;
        color: black; }
      .shop-header .collection-button .collection-dropdown-menu p:hover {
        opacity: .5; }
    .shop-header .collection-button select {
      /*for firefox*/
      -moz-appearance: none;
      /*for chrome*/
      -webkit-appearance: none; }
  .shop-header .collection-button:hover .collection-dropdown-menu {
    visibility: visible; }
  .shop-header .material-button {
    position: relative;
    text-align: center;
    width: 19vw;
    height: auto;
    border-top: solid white;
    border-right: solid white;
    border-width: 1px;
    opacity: 0;
    cursor: pointer; }
    .shop-header .material-button p {
      padding: 13px;
      color: white;
      font-family: "DINNextRoundedLTW01-Regular";
      font-size: 12px;
      letter-spacing: .4em;
      font-weight: 100;
      text-align: left; }
    .shop-header .material-button h5 {
      position: absolute;
      color: white;
      top: 31%;
      right: 11px; }
    .shop-header .material-button .material-dropdown-menu {
      width: 19vw;
      height: auto;
      position: absolute;
      right: -0.3%;
      z-index: 10;
      visibility: hidden;
      background-color: #F5F6F6; }
      .shop-header .material-button .material-dropdown-menu p {
        cursor: pointer;
        color: black; }
      .shop-header .material-button .material-dropdown-menu p:hover {
        opacity: .5; }
  .shop-header .material-button:hover .material-dropdown-menu {
    visibility: visible; }

.shop-wrapper {
  margin: 0;
  overflow: hidden; }

.shop-gallery {
  max-width: 1800px;
  overflow: initial;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  padding-left: 4.321%;
  padding-right: 4.321%;
  display: flex;
  flex-flow: row wrap; }

.product-grid {
  text-align: center;
  float: left;
  overflow: auto;
  padding-top: 40px; }
  .product-grid a {
    overflow: auto;
    cursor: pointer; }

.product-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 50px; }
  .product-info h4 {
    font-size: 12px;
    font-family: "DINNextRoundedLTW01-Regular";
    letter-spacing: 3px;
    font-weight: 100;
    color: #878789;
    text-transform: uppercase;
    margin-bottom: 8px; }
  .product-info p {
    font-size: 10px;
    font-family: "DINNextRoundedLTW01-Regular";
    letter-spacing: 1.3px;
    font-weight: 100;
    color: #d9dbdc; }
  .product-info .dash {
    margin: 0 8px; }

.products-grid-line {
  background-color: #d9dbdc;
  width: 110%;
  position: absolute;
  z-index: 1;
  bottom: 0;
  padding-bottom: 1px; }

.product-image-container {
  display: flex;
  justify-content: center;
  align-items: center; }

.product-grid-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30vw;
  position: relative;
  padding-top: 40px; }

.product-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 90px;
  position: relative; }
  .product-link .product-image1 {
    width: 100%;
    position: absolute; }
  .product-link .product-image2 {
    width: 100%; }

#product-container #hidden-info {
  opacity: 0; }

#product-container:hover #hidden-info {
  opacity: 1;
  transition: opacity 0.2s linear 0s; }

.product-grid-container:nth-child(1) {
  padding-top: 30px; }
  .product-grid-container:nth-child(1) .product-image2 {
    width: 74%;
    padding-bottom: 20px; }

.product-grid-container:nth-child(2) {
  padding-top: 30px; }
  .product-grid-container:nth-child(2) .product-image2 {
    width: 74%;
    padding-bottom: 20px; }

.product-grid-container:nth-child(3) {
  padding-top: 30px; }
  .product-grid-container:nth-child(3) .product-image2 {
    width: 74%;
    padding-bottom: 20px; }

.product-grid-container:nth-child(4) {
  padding-top: 40px; }
  .product-grid-container:nth-child(4) .product-image2 {
    width: 90%; }

.product-grid-container:nth-child(5) {
  padding-top: 40px; }
  .product-grid-container:nth-child(5) .product-image2 {
    width: 90%; }

.product-grid-container:nth-child(6) {
  padding-top: 40px; }
  .product-grid-container:nth-child(6) .product-image2 {
    width: 90%; }

.product-grid-container:nth-child(7) {
  padding-top: 40px; }
  .product-grid-container:nth-child(7) .product-image2 {
    width: 90%; }

.product-grid-container:nth-child(8) {
  padding-top: 40px; }
  .product-grid-container:nth-child(8) .product-image2 {
    width: 90%; }

.product-grid-container:nth-child(9) {
  padding-top: 40px; }
  .product-grid-container:nth-child(9) .product-image2 {
    width: 90%; }

.product-grid-container:nth-child(11) .product-image1 {
  margin: 0.5vw 0;
  width: 80%; }

.product-grid-container:nth-child(11) .product-image2 {
  margin: 3vw 0;
  width: 80%; }

.product-grid-container:nth-child(14) .product-image1 {
  margin: 0.5vw 0;
  width: 80%; }

.product-grid-container:nth-child(14) .product-image2 {
  margin: 3vw 0;
  width: 80%; }

.product-grid-container:nth-child(16) {
  margin-top: 40px;
  width: 22vw; }
  .product-grid-container:nth-child(16) .product-image1 {
    width: 100%; }

.product-grid-container:nth-child(17) {
  margin-top: 40px;
  width: 22vw; }
  .product-grid-container:nth-child(17) .product-image2 {
    margin: 5.05vw 0;
    width: 54%; }

.product-grid-container:nth-child(18) {
  margin-top: 40px;
  width: 22vw;
  padding-right: 20px; }
  .product-grid-container:nth-child(18) .product-image1 {
    width: 94%; }
  .product-grid-container:nth-child(18) .product-image2 {
    width: 100%; }

.product-grid-container:nth-child(19) {
  margin-top: 40px;
  width: 22vw; }
  .product-grid-container:nth-child(19) .product-image2 {
    width: 100%; }

.product-grid-container:nth-child(20) {
  margin-top: 40px;
  width: 22vw; }
  .product-grid-container:nth-child(20) .product-image2 {
    width: 100%; }

.product-grid-container:nth-child(21) {
  margin-top: 40px;
  width: 22vw; }
  .product-grid-container:nth-child(21) .product-image2 {
    margin: 6vw 0 3.64vw 0;
    width: 54%; }

.product-grid-container:nth-child(22) {
  margin-top: 40px;
  padding-right: 25px;
  width: 22vw; }
  .product-grid-container:nth-child(22) .product-image1 {
    margin: .5vw 0 0 0;
    width: 96%; }
  .product-grid-container:nth-child(22) .product-image2 {
    margin: .7vw 0 0 0;
    width: 100%; }
  .product-grid-container:nth-child(22) .product-info {
    bottom: 60px; }

.product-grid-container:nth-child(23) {
  margin-top: 40px;
  width: 22vw; }
  .product-grid-container:nth-child(23) .product-image2 {
    width: 100%; }

.product-grid-container:nth-child(24) {
  margin-top: 70px;
  width: 18vw; }
  .product-grid-container:nth-child(24) .product-image2 {
    width: 100%;
    margin-bottom: 10px; }

.product-grid-container:nth-child(25) {
  margin-top: 70px;
  width: 18vw; }
  .product-grid-container:nth-child(25) .product-image1 {
    margin: 5.15vw 0;
    width: 69%;
    margin-bottom: -27px; }
  .product-grid-container:nth-child(25) .product-image2 {
    margin: 8.4vw 0;
    width: 69%;
    margin-bottom: -27px; }

.product-grid-container:nth-child(26) {
  margin-top: 70px;
  width: 18vw; }
  .product-grid-container:nth-child(26) .product-image2 {
    width: 100%;
    margin-bottom: 10px; }

.product-grid-container:nth-child(27) {
  margin-top: 70px;
  width: 18vw; }
  .product-grid-container:nth-child(27) .product-image2 {
    width: 100%;
    margin-bottom: 10px; }

.product-grid-container:nth-child(28) {
  margin-top: 70px;
  width: 18vw; }
  .product-grid-container:nth-child(28) .product-image1 {
    width: 100%;
    margin-bottom: 20px; }
  .product-grid-container:nth-child(28) .product-image2 {
    margin: .7vw 0 0 0;
    width: 100%;
    margin-bottom: 10px; }

.product-grid-container:nth-child(29) {
  margin-top: 70px;
  width: 18vw; }
  .product-grid-container:nth-child(29) .product-image2 {
    width: 100%;
    margin-bottom: 10px; }

.product-grid-container:nth-child(30) {
  margin-top: 70px;
  width: 18vw; }
  .product-grid-container:nth-child(30) .product-image1 {
    margin: 4.9vw 0;
    width: 81%;
    margin-bottom: -27px; }
  .product-grid-container:nth-child(30) .product-image2 {
    margin: 7.85vw 0;
    width: 81%;
    margin-bottom: -27px; }
  .product-grid-container:nth-child(30) .product-info {
    bottom: 65px; }

.product-grid-container:nth-child(31) {
  margin-top: 70px;
  width: 18vw; }
  .product-grid-container:nth-child(31) .product-image2 {
    width: 100%;
    margin-bottom: 10px; }

.product-grid-container:nth-child(32) {
  margin-top: 70px;
  width: 18vw; }
  .product-grid-container:nth-child(32) .product-image2 {
    width: 100%;
    margin-bottom: 10px; }

.product-grid-container:nth-child(33) {
  margin-top: 70px;
  width: 18vw; }
  .product-grid-container:nth-child(33) .product-image2 {
    margin: .7vw 0 0 0;
    width: 100%;
    margin-bottom: 10px; }

.product-grid-container:nth-child(34) {
  margin-top: 60px;
  width: 22vw; }
  .product-grid-container:nth-child(34) .product-image1 {
    width: 100%;
    margin-bottom: 10px; }
  .product-grid-container:nth-child(34) .product-image2 {
    width: 100%; }

.product-grid-container:nth-child(35) {
  margin-top: 60px;
  width: 22vw; }
  .product-grid-container:nth-child(35) .product-image1 {
    width: 100%;
    margin-bottom: 10px; }
  .product-grid-container:nth-child(35) .product-image2 {
    width: 100%; }

.product-grid-container:nth-child(36) {
  margin-top: 60px;
  width: 22vw; }
  .product-grid-container:nth-child(36) .product-image1 {
    width: 100%;
    margin-bottom: 10px; }
  .product-grid-container:nth-child(36) .product-image2 {
    width: 100%; }

.product-grid-container:nth-child(37) {
  margin-top: 60px;
  width: 22vw; }
  .product-grid-container:nth-child(37) .product-image1 {
    width: 100%;
    margin-bottom: 10px; }
  .product-grid-container:nth-child(37) .product-image2 {
    width: 100%; }

.product-grid-container:nth-child(38) {
  margin-top: 60px;
  width: 22vw; }
  .product-grid-container:nth-child(38) .product-image1 {
    width: 100%;
    margin-bottom: 10px; }
  .product-grid-container:nth-child(38) .product-image2 {
    width: 100%; }

.product-grid-container:nth-child(39) {
  margin-top: 60px;
  width: 22vw; }
  .product-grid-container:nth-child(39) .product-image1 {
    width: 100%;
    margin-bottom: 10px; }
  .product-grid-container:nth-child(39) .product-image2 {
    width: 100%; }

.product-grid-container:nth-child(40) {
  margin-top: 60px;
  width: 22vw; }
  .product-grid-container:nth-child(40) .product-image1 {
    width: 100%;
    margin-bottom: 10px; }
  .product-grid-container:nth-child(40) .product-image2 {
    width: 100%; }

.product-grid-container:nth-child(41) {
  margin-top: 60px;
  width: 22vw; }
  .product-grid-container:nth-child(41) .product-image1 {
    width: 100%;
    margin-bottom: 10px; }
  .product-grid-container:nth-child(41) .product-image2 {
    width: 100%; }

.product-grid-container:nth-child(42) {
  margin-top: 60px;
  width: 30vw; }
  .product-grid-container:nth-child(42) .product-image2 {
    width: 90%;
    margin-bottom: 30px; }

.product-grid-container:nth-child(43) {
  margin-top: 60px;
  width: 30vw; }
  .product-grid-container:nth-child(43) .product-image2 {
    width: 90%;
    margin-bottom: 30px; }

.product-grid-container:nth-child(44) {
  margin-top: 60px;
  width: 30vw; }
  .product-grid-container:nth-child(44) .product-image2 {
    width: 90%;
    margin-bottom: 30px; }

.product-grid-container:nth-child(45) {
  margin-top: 60px;
  width: 45vw; }
  .product-grid-container:nth-child(45) .product-image2 {
    width: 98%;
    padding-right: 30px; }

.product-grid-container:nth-child(46) {
  margin-top: 60px;
  width: 45vw; }
  .product-grid-container:nth-child(46) .product-image2 {
    width: 98%; }

.product-grid-container:nth-child(47) {
  margin-top: 20px;
  width: 30vw; }
  .product-grid-container:nth-child(47) .product-image1 {
    width: 120%;
    margin-bottom: -40px; }
  .product-grid-container:nth-child(47) .product-image2 {
    width: 120%; }
  .product-grid-container:nth-child(47) .product-info {
    bottom: 80px; }

.product-grid-container:nth-child(48) {
  margin-top: 20px;
  width: 30vw; }
  .product-grid-container:nth-child(48) .product-image1 {
    width: 120%;
    margin-bottom: -40px; }
  .product-grid-container:nth-child(48) .product-image2 {
    width: 120%; }
  .product-grid-container:nth-child(48) .product-info {
    bottom: 80px; }

.product-grid-container:nth-child(49) {
  margin-top: 20px;
  width: 30vw; }
  .product-grid-container:nth-child(49) .product-image1 {
    width: 120%;
    margin-bottom: -40px; }
  .product-grid-container:nth-child(49) .product-image2 {
    width: 120%; }
  .product-grid-container:nth-child(49) .product-info {
    bottom: 80px; }

.product-grid-container:nth-child(50) {
  margin-top: 60px;
  width: 30vw; }
  .product-grid-container:nth-child(50) .product-image2 {
    width: 100%; }

.product-grid-container:nth-child(51) {
  margin-top: 60px;
  width: 30vw; }
  .product-grid-container:nth-child(51) .product-image2 {
    width: 100%; }

.product-grid-container:nth-child(52) {
  margin-top: 60px;
  width: 30vw; }
  .product-grid-container:nth-child(52) .product-image2 {
    width: 100%; }

.product-grid-container:nth-child(53) {
  margin-top: 50px;
  width: 45vw; }
  .product-grid-container:nth-child(53) .product-image1 {
    width: 70%; }
  .product-grid-container:nth-child(53) .product-image2 {
    width: 70%; }

.product-grid-container:nth-child(54) {
  margin-top: 50px;
  width: 45vw; }
  .product-grid-container:nth-child(54) .product-image1 {
    width: 70%; }
  .product-grid-container:nth-child(54) .product-image2 {
    width: 70%; }

.product-grid-container:nth-child(55) {
  width: 30vw; }
  .product-grid-container:nth-child(55) .product-image2 {
    width: 130%;
    margin-bottom: -60px; }

.product-grid-container:nth-child(56) {
  width: 30vw; }
  .product-grid-container:nth-child(56) .product-image2 {
    width: 130%;
    margin-bottom: -60px; }

.product-grid-container:nth-child(57) {
  width: 30vw; }
  .product-grid-container:nth-child(57) .product-image2 {
    width: 130%;
    margin-bottom: -60px; }

.product-grid-container:nth-child(58) {
  margin-top: 50px;
  width: 45vw; }
  .product-grid-container:nth-child(58) .product-image1 {
    width: 97%; }
  .product-grid-container:nth-child(58) .product-image2 {
    width: 97%; }
  .product-grid-container:nth-child(58) .product-info {
    bottom: 100px; }

.product-grid-container:nth-child(59) {
  margin-top: 50px;
  width: 45vw; }
  .product-grid-container:nth-child(59) .product-image1 {
    width: 97%;
    padding-left: 30px; }
  .product-grid-container:nth-child(59) .product-image2 {
    width: 97%;
    padding-left: 30px; }
  .product-grid-container:nth-child(59) .product-info {
    bottom: 100px; }
