@import url(//db.onlinewebfonts.com/c/ab596f21664c5582567537d241e2a53e?family=DINNextRoundedLTW01-Regular);
@font-face {font-family: "DINNextRoundedLTW01-Regular";
    src: url("//db.onlinewebfonts.com/t/ab596f21664c5582567537d241e2a53e.eot");
    src: url("//db.onlinewebfonts.com/t/ab596f21664c5582567537d241e2a53e.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/ab596f21664c5582567537d241e2a53e.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/ab596f21664c5582567537d241e2a53e.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/ab596f21664c5582567537d241e2a53e.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/ab596f21664c5582567537d241e2a53e.svg#DINNextRoundedLTW01-Regular") format("svg");
}

$font: "DINNextRoundedLTW01-Regular";

.about-header{
  background: url("/img/about-2016-C3_2.jpg");
  height: 400px;
  width: 100%;
  background-position: center center;
  background-size: cover;
}

#stylize-headers {
font-family: $font;
font-size: 48px;
font-weight: lighter;
color: #494c51;
text-align: center;
margin: 0 190px;
}

#stylize-p {
font-family: $font;
text-align: center;
color: #939393;
line-height: 200%;
font-size: 16px;
width: 50%;
float: none;
margin: auto;
}
.what-matters {
  margin-top: 70px;
  margin-bottom: 130px;
}
.we-believe {
  margin-top: 100px;
  margin-right: 100px;
  margin-left: 100px;
  margin-bottom: 100px;
  text-align: center;
}
.inner-box {
  margin-top: 60px;
  margin-bottom: -20px;
  // width: 50%;
  text-align: center;
}

.image-block-2-space {
margin-top: 100px;
margin-bottom: -20px;
}

.image-block-wrapper {
  display: flex;
  flex-wrap: wrap;
  height: 390px;
  width: auto;
  justify-content: center;
  margin-bottom: 100px;

}
.image-block-img1 {
  width: auto;
  height: 388px;
  padding-right: 14px;
}
.image-block-img2 {
width: auto;
height: 388px;
padding-left: 14px;
}
.image-block-1-img {
display: flex;
width: 100%;
justify-content: center;
}
.all-employees {
margin-top: 20px;
display: flex;
justify-content: center;;
align-items: center;
flex-wrap: wrap;
padding: 0px 30px;
  }
.single-employees {
padding: 0 2px;
  }
.single-employees-img {
padding: 8px 16px;
cursor: pointer;
  }
  .our-story {
    margin-top: 160px;
    margin-bottom: 125px;
  }
  .our-story-p {
    padding-top: 65px;
  }
  .hands-on-deck-p {
    margin-top: 137px;
    margin-bottom: 115px;
  }
  .hands-on-deck-p2 {
    margin-top: 68px;
    margin-bottom: 114px;
  }
  .visit-our-shop {
  margin-top: 118px;
  margin-bottom: 95px
  }
  .visit-our-shop-p2 {
    margin-bottom: 50px;
    margin-top: 70px;
  }
  .what-matters-p {
    margin-bottom: 125px;
  }
  .what-matters-h {
    margin-bottom: 145px;
  }


.italicized-sentence {
  font-style: italic;
}
