@import url(//db.onlinewebfonts.com/c/ab596f21664c5582567537d241e2a53e?family=DINNextRoundedLTW01-Regular);
@font-face {font-family: "DINNextRoundedLTW01-Regular";
    src: url("//db.onlinewebfonts.com/t/ab596f21664c5582567537d241e2a53e.eot");
    src: url("//db.onlinewebfonts.com/t/ab596f21664c5582567537d241e2a53e.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/ab596f21664c5582567537d241e2a53e.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/ab596f21664c5582567537d241e2a53e.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/ab596f21664c5582567537d241e2a53e.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/ab596f21664c5582567537d241e2a53e.svg#DINNextRoundedLTW01-Regular") format("svg");
}

$font: "DINNextRoundedLTW01-Regular";

.about-header{
  background: url("/img/about-2016-C3_2.jpg");
  height: 400px;
  width: 100%;
  background-position: center center;
  background-size: cover;
}

#stylize-headers {
font-family: $font;
font-size: 48px;
font-weight: lighter;
color: #494c51;
text-align: center;
}

#stylize-p {
  font-family: $font;
  text-align: center;
  color: #939393;
  line-height: 200%;
  font-size: 16px;
}
 //  h1 {
 //    font-family: $font;
 //    font-size: 48px;
 //    font-weight: lighter;
 //    color: #494c51;
 //    text-align: center;
 //  }
 // p {
 //   font-family: $font;
 //   text-align: center;
 //   color: #939393;
 //   margin-left: 325px;
 //   margin-right: 325px;
 //   line-height: 200%;
 //   font-size: 16px;
 //  }

.italicized-sentence {
  font-style: italic;
}
