

$font: "DINNextRoundedLTW01-Regular";
$ropa:  'Ropa Sans', sans-serif;
$abel: 'Abel', sans-serif;
$condensed: 'Open Sans Condensed', sans-serif;
$grey: #878789;
$info: #d9dbdc;

.vday-header {
background: url("/img/homemarq-walnut-desk-collection-C2.jpg");
height: 400px;
width: 100%;
background-position: center center;
background-size: cover;
}

.journal-title {
  padding-top: 75px;
  padding-bottom: 75px;
  font-family: $ropa;
  font-size: 28px;
  color: #494c51;
  display: flex;
  align-content: center;
  justify-content: center;
  letter-spacing: .3em;
}

.journal-text {
  flex-direction: column;
  padding-left: 33%;
  padding-right: 33%;
  font-family: $abel;
  font-size: 17px;
  color: #939393;
  display: flex;
  align-content: center;
  justify-content: center;
  line-height: 200%;
  letter-spacing: .6px;
}

.paragraph {
  padding-top: 20px;
}
.paragraphV2 {
  padding-top: 20px;
  padding-bottom: 100px;
}

.instagram-embed {
  display: flex;
  padding-top: 75px;
  padding-bottom: 20px;
  justify-content: center;
}
