@import url(//db.onlinewebfonts.com/c/ab596f21664c5582567537d241e2a53e?family=DINNextRoundedLTW01-Regular);
@font-face {font-family: "DINNextRoundedLTW01-Regular";
    src: url("//db.onlinewebfonts.com/t/ab596f21664c5582567537d241e2a53e.eot");
    src: url("//db.onlinewebfonts.com/t/ab596f21664c5582567537d241e2a53e.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/ab596f21664c5582567537d241e2a53e.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/ab596f21664c5582567537d241e2a53e.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/ab596f21664c5582567537d241e2a53e.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/ab596f21664c5582567537d241e2a53e.svg#DINNextRoundedLTW01-Regular") format("svg");
}
* {
  margin: 0px;
}
.nav {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 72px;
  width: 100%;
  text-decoration: none;
  z-index: 10;
  padding-top: 20px;
}

.sticky-nav {
  position: fixed;
  background-color: rgb(66, 66, 66);
  height: 60px;
  top: 0;
  margin-top: 0;
  z-index: 11;
  padding-top: 1px;
}


.nav a{
  text-decoration: none;
  // text-shadow: 1px 1px 4px #000;
  font-family: "DINNextRoundedLTW01-Regular";
  color: white;
}
.nav img{
  height: 77px;
  width: 305px;
  z-index: 10;
}

// #navbar-logo {
//   position: fixed;
//   top: -5px;
//   left: 30px;
//   height: 53px;
//   width: 179px;
//   float: left;
//   // background-color: blue;
//   box-sizing: border-box;
//   z-index: 10;
// }

#navbar-logos {
  position: fixed;
  // top: -5px;
  left: 30px;
  // height: 53px;
  width: 280px;
  float: left;
  z-index: 10;
  padding-right: 10px;
  path {
    fill: white;
  }
}
#nav-bar-center {
  margin: 0 15px;
  z-index: 10;
}
.sliding-u-t-b {
  border-bottom: 0px solid transparent;
  transition: 0.5s ease;
}
.sliding-u-t-b:hover {
  border-bottom: 2px solid white;
  padding-bottom: 2px;
  border-radius: .7px;
}
.nav-bar-wrapper {
  float: left;
  font-size: 15px;
  letter-spacing: 2.3px;
  z-index: 10;
  text-transform: uppercase;
  padding-left: 20px;
}
.nav-newsletter-cart-wrapper{
  width: 217px;
  position: fixed;
  right: 55px;
  z-index: 10;
}
.nav-newsletter {
  float: left;
  font-size: 15px;
  letter-spacing: 2.3px;
  text-transform: uppercase;
  position: relative;
  top: 5px;
  right: -46px;
  z-index: 10;
}
.nav-cart {
  color: white;
  // font-size: 18px;
  float: right;
  position: relative;
  top: 5px;
  height: 26px;
  width: 22px;
  z-index: 10;
}
