
// $font: "DINNextRoundedLTW01-Regular";
$ropa:  'Ropa Sans', sans-serif;
$abel: 'Abel', sans-serif;
$condensed: 'Open Sans Condensed', sans-serif;

* {
  margin: 0px;
}
.nav {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 72px;
  width: 100%;
  text-decoration: none;
  z-index: 10;
  padding-top: 20px;
}

.sticky-nav {
  position: fixed;
  background-color: rgb(66, 66, 66);
  height: 60px;
  top: 0;
  margin-top: 0;
  z-index: 11;
  padding-top: 1px;
}


.nav a{
  text-decoration: none;
  // text-shadow: 1px 1px 4px #000;
  font-family: $ropa;
  color: white;
}
.nav img{
  height: 77px;
  width: 305px;
  z-index: 10;
}

// #navbar-logo {
//   position: fixed;
//   top: -5px;
//   left: 30px;
//   height: 53px;
//   width: 179px;
//   float: left;
//   // background-color: blue;
//   box-sizing: border-box;
//   z-index: 10;
// }

#navbar-logos {
  position: fixed;
  // top: -5px;
  left: 30px;
  // height: 53px;
  width: 280px;
  float: left;
  z-index: 10;
  padding-right: 10px;
  path {
    fill: white;
  }
}
#nav-bar-center {
  margin: 0 15px;
  z-index: 10;
}
.sliding-u-t-b {
  border-bottom: 0px solid transparent;
  transition: 0.5s ease;
}
.sliding-u-t-b:focus {
  border-bottom: 2px solid white;
  padding-bottom: 2px;
  border-radius: .7px;
}
.nav-bar-wrapper {
  float: left;
  font-size: 15px;
  letter-spacing: 3.5px;
  z-index: 10;
  text-transform: uppercase;
  padding-left: 20px;
}
.nav-newsletter-cart-wrapper{
  width: 217px;
  position: fixed;
  right: 60px;
  z-index: 10;
}
.nav-newsletter {
  float: left;
  font-size: 15px;
  letter-spacing: 3.5px;
  text-transform: uppercase;
  position: relative;
  top: 5px;
  right: -46px;
  z-index: 10;
  cursor: pointer;
}
.nav-cart {
  color: white;
  // font-size: 18px;
  float: right;
  position: relative;
  top: 5px;
  height: 26px;
  width: 20px;
  z-index: 10;
  overflow: auto;
}
.nav-cart-total {
  float: right;
  position: relative;
  color: white;
  top: 5px;
  right: -10px;
  font-size: 17px;
}



.newsletter-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: rgba(0,0,0,0.5);
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.newsletter-popup-container {
  width: 520px;
  height: 320px;
  // background: #424242;
  background-color: rgb(74, 76, 81);
  border: 10px solid white;
  color: white;
  text-align: center;
  position: absolute;
}

.newsletter-popup-content {
  padding: 30px 10px;
  font-family: $ropa;
  font-weight: 100;
  .newsletter-close {
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
    font-weight: 100;
    font-size: 13px;
    letter-spacing: 2.5px;
  }
  h3 {
    margin-bottom: 20px;
    font-family: $condensed;
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: 6px;
    font-weight: 100;
  }
  .newsletter-content {
    color: #bcbec0;
    font-weight: 100;
    font-size: 12px;
    letter-spacing: 2px;
  }
}

.icon-grovemade-logo{
  background-color: #424242;
  width: 70px;
  height: 70px;

}

.newsletter-signup-popup {
   margin-top: 30px;
   margin-bottom: 30px;
  input {
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
    font-size: 20px;
    font-family: $ropa;
    min-width: 275px;
    padding: 10px 20px;
    padding-left: 0;
    letter-spacing: 3px;
    font-weight: 300;
    outline: none;
    color: white;
  }
  button {
    border: 2px solid white;
    background: transparent;
    margin-left: 10px;
    height: 40px;
    width: 80px;
    line-height: 40px;
    vertical-align: bottom;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1.5px;
    color: white;
    padding: 0 0;
  }
  button:hover {
    background-color: white;
    color: #4a4d51;
  }
  button:focus{
    outline: none;
  }
  p{
    margin: 32px 0;
    font-weight: 300;
  }
}

.hide-newsletter {
  display: none;
}

.sticky-cart{
  height: auto;
  width: 31%;
  background-color: #F6F7F9;
  position: absolute;
  text-align: center;
  right: 20px;
  top: 2px;
  z-index: 300;
  border: none;
  display: none;
  .your-cart{
    width: 100.13%;
    background-color: rgb(66, 66, 66);
    height: 59px;
    color: white;
    text-align: left;
    border: none;
    h2{
      font-family: $condensed;
      margin-left: 20px;
      line-height: 60px;
      font-weight: 100;
      letter-spacing: 11px;
    }
  }
  h4{
    font-family: $abel;
    font-weight: 100;
    clear: both;
    float: left;
    margin-top: 20px;
    margin-left: 4%;
  }
  button{
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 50px;
    width: 91%;
    border: none;
    text-align: center;
    background-color: rgb(66, 66, 66);
    color: white;
    font-size: 23px;
    letter-spacing: 6px;
  }
  p{
    font-size: 14px;
    margin-bottom: 15px;
    color: #f69368;
  }
  .hr_lookalike{
    background-color: #121212;
    height: 0.5px;
    width: 91%;
    margin: auto;
    margin-bottom: 15px;
  }
}

// .nav-cart:hover ::after{
//   visibility: visible;
// }
