

@font-face {
   font-family: "DINNextRoundedLTW01-Regular";
   src: url("fonts/dnNext/dnNext.ttf");
}

$font: "DINNextRoundedLTW01-Regular";

.productPageWrapper {
  display: flex;
  flex-direction: row;
}

.productPageNav {
  background-color: rgb(66, 66, 66);
  width: 100%;
  height: 110px;
}

.upperCarousel {
  width: 64.7%;
  height: 880px;
}

.productDescription {
  font-family: $font;
  font-size: 14px;
  width: 25.6%;
  height: 880px;
  display: flex;
  background-color:#F6F6F6;
  justify-content: center;
  align-items: center;
  padding-left: 45px;
  padding-right: 85px;
}

.productTitle {
  // font-size: 28px; left here on purpose! CH
  font-size: 24px;
  padding-bottom: 20px;
  // font-family: Georgia; left here on purpose! CH
}

.price {
  padding-bottom: 20px;
  font-size: 14px;
}

.description {
  padding-bottom: 20px;
}

.shipDate {
  padding-bottom: 20px;
}

.selectAndCart {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.addToCart {
  font-family: $font;
  font-size: 18px;
  font-weight: bold;
  color: white;
  background: rgb(66, 66, 66);
  height: 42px;
  border: none;
  border-radius: 2px;
  margin-top: 10px;
}

.moreInfo {
  padding-top: 10px;
}

.dropdown {
  border-radius: 2px;
}
