
$font: "DINNextRoundedLTW01-Regular";
$ropa:  'Ropa Sans', sans-serif;
$abel: 'Abel', sans-serif;
$condensed: 'Open Sans Condensed', sans-serif;
$grey: #878789;
$info: #d9dbdc;


.productPageWrapper {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #F6F6F6;
}

.productPageNav {
  background-color: rgb(66, 66, 66);
  width: 100%;
  height: 110px;
}

.upperCarousel {
  width: 64.7%;
  height: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
  span{
    color: $info;
    font-size: 20px;
  }
}

#left-arrow{
  cursor: pointer;
  padding-left: 0;
  padding-right: 60px;
}

#right-arrow{
  cursor: pointer;
  padding-right: 0;
  padding-left: 60px;
}

.baseImage {
  // padding-top: 30px;
  height: 560px;
}

.carouselImage {
  // padding-top: 30px;
  height: 560px;
}

.productDescription {
  font-family: $abel;
  font-size: 15px;
  width: 25.6%;
  height: 650px;
  display: flex;
  background-color:#F6F6F6;
  justify-content: center;
  align-items: center;
  padding-left: 45px;
  padding-right: 85px;
  h2{
    font-size: 26px;
    letter-spacing: 1px;
    font-family: $abel;
    margin-top: 100px;
    margin-bottom: 20px;
  }
}

.productTitle {
  // font-size: 28px; left here on purpose! CH
  // font-family: Georgia; left here on purpose! CH
}

.price {
  margin-bottom: 20px;
  font-family: $ropa;
  font-size: 20px;
}

.description {
  margin-bottom: 20px;
  line-height: 1.3;
  letter-spacing: .5px;
}

.shipDate {
  margin-bottom: 20px;
}

.selectAndCart {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.addToCart {
  font-family: $ropa;
  font-size: 18px;
  font-weight: bold;
  color: white;
  background: rgb(66, 66, 66);
  height: 42px;
  border: none;
  border-radius: 2px;
  margin-top: 10px;
  outline: none;
}

.moreInfo {
  margin-top: 30px;
}

.dropdown {
  border-radius: 2px;
}

.over150 {
  margin-top: 50px;
  margin-bottom: 50px;

}

.lowerCarousel {
  padding-top: 65px;
  max-width: 100vw;
  // height: 940px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  img {
    width: 90%;
  }
  span{
    color: $info;
    font-size: 25px;
    cursor: pointer;
  }
}

.techWrapper {
  font-family: $ropa;
  max-width: 100vw;
  background: #F8F8F9;
  overflow: contain;
  padding-top: 50px;
  padding-bottom: 100px;
}

.techSpecs {
  padding-left: 10vw;
  padding-right: 10vw;
  width: 80vw;
}

.technical {
  width: 100%;
  text-align: left;
  padding-top: 40px;
  font-size: 24px;
}

.techTitle {
  font-family: $abel
}

.specs {
  display: flex;
  justify-content: space-around;
  width: 100%;
  }

.originAndMaterials {
  background: #F8F8F9;
  display: flex;
  flex-direction: column;
  width: 30%;
  line-height: 200%;
  padding-top: 40px;
}

.originTitle {
  font-size: 12px;
  font-weight: bold;
  font-family: $abel;
  color: $grey;
}

.origin {
  padding-top: 7px;
  font-family: Georgia;
  font-size: 14px;
}

.materialsTitle {
  font-size: 12px;
  font-weight: bold;
  padding-top: 30px;
  font-family: $abel;
  color: $grey;
}

.materials {
  padding-top: 7px;
  font-family: Georgia;
  font-size: 14px;
}

.informationAndDimensions {
  background: #F8F8F9;
  display: flex;
  flex-direction: column;
  width: 30%;
  line-height: 200%;
  padding-top: 40px;
}

.infoTitle {
  font-size: 12px;
  font-weight: bold;
  font-family: $abel;
  color: $grey;
}

.information {
  padding-top: 7px;
  font-family: Georgia;
  font-size: 14px;
}

.dimensionsTitle {
  font-size: 12px;
  font-weight: bold;
  padding-top: 30px;
  font-family: $abel;
  color: $grey;
}

.dimensions {
  padding-top: 7px;
  font-family: Georgia;
  font-size: 14px;
}

.considerations {
  font-family: $ropa;
  background: #F8F8F9;
  display: flex;
  flex-direction: column;
  width: 30%;
  line-height: 200%;
  padding-top: 40px;
}

.considerationsTitle {
  font-size: 12px;
  font-weight: bold;
  font-family: $abel;
  color: $grey;
}

.considerationsInfo {
  padding-top: 7px;
  font-family: Georgia;
  font-size: 14px;
}
