@font-face {
   font-family: "DINNextRoundedLTW01-Regular";
   src: url("fonts/dnNext/dnNext.ttf");
}

$font: "DINNextRoundedLTW01-Regular";

.productPageWrapper {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #F6F6F6;
}

.productPageNav {
  background-color: rgb(66, 66, 66);
  width: 100%;
  height: 110px;
}

.upperCarousel {
  width: 64.7%;
  height: 881px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.baseImage {
  padding-top: 30px;
  height: 750px;
}

.carouselImage {
  padding-top: 30px;
  height: 750px;
}

.productDescription {
  font-family: $font;
  font-size: 14px;
  width: 25.6%;
  height: 881px;
  display: flex;
  background-color:#F6F6F6;
  justify-content: center;
  align-items: center;
  padding-left: 45px;
  padding-right: 85px;
}

.productTitle {
  // font-size: 28px; left here on purpose! CH
  font-size: 24px;
  padding-bottom: 20px;
  // font-family: Georgia; left here on purpose! CH
}

.price {
  padding-bottom: 20px;
  font-size: 14px;
}

.description {
  padding-bottom: 20px;
}

.shipDate {
  padding-bottom: 20px;
}

.selectAndCart {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.addToCart {
  font-family: $font;
  font-size: 18px;
  font-weight: bold;
  color: white;
  background: rgb(66, 66, 66);
  height: 42px;
  border: none;
  border-radius: 2px;
  margin-top: 10px;
}

.moreInfo {
  padding-top: 30px;
}

.dropdown {
  border-radius: 2px;
}

.over150 {
  padding-top: 395px;
}

.lowerCarousel {
  padding-top: 65px;
  height: 940px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.techWrapper {
  font-family: $font;
  display: flex;
  flex-wrap: wrap;
  width: 99vw;
  height: 800px;
}

.techSpecs {
  // display: flex;
}

.technical {
  display: flex;
  background: #F8F8F9;
  height: 40px;
  width: 99vw;
  padding-top: 40px;
  font-size: 24px;
}

.techTitle {
  padding-left: 350px;
}

.specs {
  display: flex;
  width: 99vw;
  }

.originAndMaterials {
  background: #F8F8F9;
  display: flex;
  flex-direction: column;
  width: 33vw;
  height: 720px;
  line-height: 200%;
  padding-top: 40px;
}

.originTitle {
  font-size: 12px;
  padding-left: 350px;
  font-weight: bold;
}

.origin {
  padding-top: 7px;
  padding-left: 350px;
  font-family: Georgia;
  font-size: 14px;
}

.materialsTitle {
  font-size: 12px;
  font-weight: bold;
  padding-left: 350px;
  padding-top: 30px;
}

.materials {
  padding-top: 7px;
  padding-left: 350px;
  font-family: Georgia;
  font-size: 14px;
}

.informationAndDimensions {
  background: #F8F8F9;
  display: flex;
  flex-direction: column;
  width: 33vw;
  height: 720px;
  line-height: 200%;
  padding-top: 40px;
}

.infoTitle {
  font-size: 12px;
  padding-left: 175px;
  font-weight: bold;
}

.information {
  padding-top: 7px;
  padding-left: 175px;
  padding-right: 25px;
  font-family: Georgia;
  font-size: 14px;
}

.dimensionsTitle {
  font-size: 12px;
  font-weight: bold;
  padding-left: 175px;
  padding-top: 30px;
}

.dimensions {
  padding-top: 7px;
  padding-left: 175px;
  padding-right: 25px;
  font-family: Georgia;
  font-size: 14px;
}

.considerations {
  font-family: $font;
  background: #F8F8F9;
  display: flex;
  flex-direction: column;
  width: 33vw;
  height: 720px;
  line-height: 200%;
  padding-top: 40px;
}

.considerationsTitle {
  font-size: 12px;
  font-weight: bold;
}

.considerationsInfo {
  padding-top: 7px;
  padding-right: 350px;
  font-family: Georgia;
  font-size: 14px;
}