


$font: "DINNextRoundedLTW01-Regular";
$ropa:  'Ropa Sans', sans-serif;
$abel: 'Abel', sans-serif;
$condensed: 'Open Sans Condensed', sans-serif;
$grey: #878789;
$info: #d9dbdc;
// header div----start-start-----starts
.shop-header{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("/img/collections-desk-planters-A2_10.jpg");
    height: 400px;
    width: 100%;
    background-position: center center;
    background-size: cover;
    h1{
      font-family: $ropa;
      color: white;
      font-size: 62px;
      letter-spacing: 0.4em;
      font-weight: 100;
    }
    .shop-header-filter-wrapper{
      display: flex;
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 10%;
    }
    .filter-button{
      position: relative;
      text-align: center;
      width: 21vw;
      height: auto;
      border-top: solid white;
      border-right: solid white;
      border-width: 1px;
      cursor: pointer;
      // background-color: pink;
      p{
        padding: 13px;
        color: white;
        font-family: $ropa;
        font-size: 14px;
        letter-spacing: .4em;
        font-weight: 100;
        text-align: left;
      }
      h5{
        float: right;
        position: absolute;
        color: white;
        top: 31%;
        right: 11px;
      }
    }

    .shop-header-filter-wrapper:hover {
      .collection-button{
        opacity: 1;
        transition: opacity 0.2s linear 0s;
      }
      .material-button {
      // visibility: visible;
        opacity: 1;
        transition: opacity 0.2s linear 0s;
      }
    }

    .collection-button{
      position: relative;
      text-align: center;
      width: 21vw;
      height: auto;
      border-top: solid white;
      border-right: solid white;
      border-width: 1px;
      cursor: pointer;
      opacity: 0;
      // visibility: hidden;
      // background-color: aqua;
      p{
        padding: 13px;
        color: white;
        font-family: $ropa;
        font-size: 14px;
        letter-spacing: .4em;
        font-weight: 100;
        text-align: left;
      }
      h5{
        position: absolute;
        color: white;
        top: 31%;
        right: 11px;
      }
      .collection-dropdown-menu{
        width: 21vw;
        height: auto;
        position: absolute;
        right: 0%;
        z-index: 10;
        visibility: hidden;
        background-color: #F5F6F6;
        // background-color: red;
        p{
          // float: left;
          font-size: 14px;
          cursor: pointer;
          color: black;
        }
        p:hover{
          opacity: .5;
        }
      }
      select {
        //removes the arrows from select
        /*for firefox*/
        -moz-appearance: none;
        /*for chrome*/
        -webkit-appearance:none;
    }
    }
    .collection-button:hover .collection-dropdown-menu {
      visibility: visible;
    }
    .material-button{
      position: relative;
      text-align: center;
      width: 19vw;
      height: auto;
      border-top: solid white;
      border-right: solid white;
      border-width: 1px;
      opacity: 0;
      // visibility: hidden;
      cursor: pointer;
      // background-color: teal;
      p{
        padding: 13px;
        color: white;
        font-family: $ropa;
        font-size: 14px;
        letter-spacing: .4em;
        font-weight: 100;
        text-align: left;
      }
      h5{
        position: absolute;
        color: white;
        top: 31%;
        right: 11px;
      }
      .material-dropdown-menu{
        width: 19vw;
        height: auto;
        position: absolute;
        right: -0.3%;
        z-index: 10;
        visibility: hidden;
        background-color: #F5F6F6;
        // background-color: red;
        p{
          // float: left;
          cursor: pointer;
          color: black;
        }
        p:hover{
          opacity: .5;
        }
      }
    }//end of material button
    .material-button:hover .material-dropdown-menu{
      visibility: visible;
    }
}//end of shop header

// header div----END-END-----END----END-END-----END----END-END-----END-----



.shop-wrapper {
  margin: 0;
  overflow: hidden;
}

.shop-gallery {
  max-width: 1800px;
  overflow: initial;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  padding-left: 4.321%;
  padding-right: 4.321%;
  display: flex;
  flex-flow: row wrap;
}

.product-grid {
  text-align: center;
  float: left;
  overflow: auto;
  padding-top: 40px;
  // padding-bottom: 40px;
  // position: relative;
  // padding-bottom: 100px;
  a {
    overflow: auto;
    cursor: pointer;
  }
}

.product-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 50px;
  h4 {
    font-size: 14px;
    font-family: $ropa;
    letter-spacing: 3px;
    font-weight: 100;
    color: $grey;
    text-transform: uppercase;
    margin-bottom: 8px;
  }
  p {
    font-size: 11px;
    font-family: $ropa;
    letter-spacing: 1.3px;
    font-weight: 100;
    color: $info;
  }
  .dash {
    margin: 0 8px;
  }
}

.products-grid-line {
  background-color: $info;
  width: 110%;
  position: absolute;
  z-index: 1;
  bottom: 0;
  padding-bottom: 1px;
}



.product-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-grid-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30vw;
  position: relative;
  padding-top: 40px;
}

.product-link{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 90px;
  position: relative;
  .product-image1 {
    width: 100%;
    position: absolute;
  }
  .product-image2 {
    width: 100%;
  }
}

// .top-image {
//   position: absolute;
// }

// .product-info{
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   position: absolute;
//   bottom: 50px;
// }

#product-container{
  #hidden-info {
    opacity: 0;
  }
}
#product-container:hover {
  #hidden-info {
    opacity: 1;
    transition: opacity 0.2s linear 0s;
  }
}


.product-grid-container:nth-child(1) {
  padding-top: 30px;
  .product-image2 {
    width: 74%;
    padding-bottom: 20px;
  }
}
.product-grid-container:nth-child(2) {
  padding-top: 30px;
  .product-image2{
    width: 74%;
    padding-bottom: 20px;
  }
}
.product-grid-container:nth-child(3) {
  padding-top: 30px;
  .product-image2{
    width: 74%;
    padding-bottom: 20px;
  }
}
.product-grid-container:nth-child(4) {
  padding-top: 40px;
  .product-image2{
    width: 90%;
  }
}
.product-grid-container:nth-child(5) {
  padding-top: 40px;
  .product-image2{
    width: 90%;
  }
}
.product-grid-container:nth-child(6) {
  padding-top: 40px;
  .product-image2{
    width: 90%;
  }
}
.product-grid-container:nth-child(7) {
  padding-top: 40px;
  .product-image2{
    width: 90%;
  }
}
.product-grid-container:nth-child(8) {
  padding-top: 40px;
  .product-image2{
    width: 90%;
  }
}
.product-grid-container:nth-child(9) {
  padding-top: 40px;
  .product-image2{
    width: 90%;
  }
}
.product-grid-container:nth-child(11) {
  .product-image1{
    margin: 0.5vw 0;
    width: 80%;
  }
  .product-image2{
    margin: 3vw 0;
    width: 80%;
  }
}
.product-grid-container:nth-child(14) {
  .product-image1{
    margin: 0.5vw 0;
    width: 80%;
  }
  .product-image2{
    margin: 3vw 0;
    width: 80%;
  }
}
.product-grid-container:nth-child(16) {
  margin-top: 40px;
  width: 22vw;
  .product-image1{
    // margin: 3.01vw 0;
    width: 100%;
  }
}
.product-grid-container:nth-child(17) {
  margin-top: 40px;
  width: 22vw;
  .product-image2{
    margin: 5.05vw 0;
    width: 54%;
  }
}
.product-grid-container:nth-child(18) {
  margin-top: 40px;
  width: 22vw;
  padding-right: 20px;
  .product-image1{
    // margin: .3vw 0;
    width: 94%;
  }
  .product-image2{
    // margin: .3vw 0;
    width: 100%;
  }
}
.product-grid-container:nth-child(19) {
  margin-top: 40px;
  width: 22vw;
  .product-image2{
    // margin: 3.01vw 0;
    width: 100%;
  }
}
.product-grid-container:nth-child(20) {
  margin-top: 40px;
  width: 22vw;
  .product-image2{
    // margin: 3.01vw 0;
    width: 100%;
  }
}
.product-grid-container:nth-child(21) {
  margin-top: 40px;
  width: 22vw;
  .product-image2{
    margin: 6vw 0 3.64vw 0;
    width: 54%;
  }
}
.product-grid-container:nth-child(22) {
  margin-top: 40px;
  padding-right: 25px;
  width: 22vw;
  .product-image1{
    margin: .5vw 0 0 0;
    width: 96%;
  }
  .product-image2{
    margin: .7vw 0 0 0;
    width: 100%;
  }
  .product-info {
    bottom: 60px;
  }
}
.product-grid-container:nth-child(23) {
  margin-top: 40px;
  width: 22vw;
  .product-image2{
    // margin: 3.01vw 0;
    width: 100%;
  }
}
.product-grid-container:nth-child(24) {
  margin-top: 70px;
  width: 18vw;
  .product-image2{
    // margin: 3.01vw 0;
    width: 100%;
    margin-bottom: 10px;
  }
}
.product-grid-container:nth-child(25) {
  margin-top: 70px;
  width: 18vw;
  .product-image1{
    margin: 5.15vw 0;
    width: 69%;
    margin-bottom: -27px;
  }
  .product-image2{
    margin: 8.4vw 0;
    width: 69%;
    margin-bottom: -27px;
  }
}
.product-grid-container:nth-child(26) {
  margin-top: 70px;
  width: 18vw;
  .product-image2{
    // margin: 3.01vw 0;
    width: 100%;
    margin-bottom: 10px;
  }
}
.product-grid-container:nth-child(27) {
  margin-top: 70px;
  width: 18vw;
  .product-image2{
    // margin: 3.01vw 0;
    width: 100%;
    margin-bottom: 10px;
  }
}
.product-grid-container:nth-child(28) {
  margin-top: 70px;
  width: 18vw;
  .product-image1{
    // margin: 3.01vw 0;
    width: 100%;
    margin-bottom: 20px;
  }
  .product-image2{
    margin: .7vw 0 0 0;
    width: 100%;
    margin-bottom: 10px;
  }
}
.product-grid-container:nth-child(29) {
  margin-top: 70px;
  width: 18vw;
  .product-image2{
    // margin: 3.01vw 0;
    width: 100%;
    margin-bottom: 10px;
  }
}
.product-grid-container:nth-child(30) {
  margin-top: 70px;
  width: 18vw;
  .product-image1{
    margin: 4.9vw 0;
    width: 81%;
    margin-bottom: -27px;
  }
  .product-image2{
    margin: 7.85vw 0;
    width: 81%;
    margin-bottom: -27px;
  }
  .product-info {
    bottom: 65px;
  }
}
.product-grid-container:nth-child(31) {
  margin-top: 70px;
  width: 18vw;
  .product-image2{
    // margin: 3.01vw 0;
    width: 100%;
    margin-bottom: 10px;
  }
}
.product-grid-container:nth-child(32) {
  margin-top: 70px;
  width: 18vw;
  .product-image2{
    // margin: 3.01vw 0;
    width: 100%;
    margin-bottom: 10px;
  }
}
.product-grid-container:nth-child(33) {
  margin-top: 70px;
  width: 18vw;
  .product-image2{
    margin: .7vw 0 0 0;
    width: 100%;
    margin-bottom: 10px;
  }
}
.product-grid-container:nth-child(34) {
  margin-top: 60px;
  width: 22vw;
  .product-image1{
    width: 100%;
    margin-bottom: 10px;
  }
  .product-image2{
    width: 100%;
  }
}
.product-grid-container:nth-child(35) {
  margin-top: 60px;
  width: 22vw;
  .product-image1{
    width: 100%;
    margin-bottom: 10px;
  }
  .product-image2{
    width: 100%;
  }
}
.product-grid-container:nth-child(36) {
  margin-top: 60px;
  width: 22vw;
  .product-image1{
    width: 100%;
    margin-bottom: 10px;
  }
  .product-image2{
    width: 100%;
  }
}
.product-grid-container:nth-child(37) {
  margin-top: 60px;
  width: 22vw;
  .product-image1{
    width: 100%;
    margin-bottom: 10px;
  }
  .product-image2{
    width: 100%;
  }
}

.product-grid-container:nth-child(38) {
  margin-top: 60px;
  width: 22vw;
  .product-image1{
    width: 100%;
    margin-bottom: 10px;
  }
  .product-image2{
    width: 100%;
  }
}
.product-grid-container:nth-child(39) {
  margin-top: 60px;
  width: 22vw;
  .product-image1{
    width: 100%;
    margin-bottom: 10px;
  }
  .product-image2{
    width: 100%;
  }
}
.product-grid-container:nth-child(40) {
  margin-top: 60px;
  width: 22vw;
  .product-image1{
    width: 100%;
    margin-bottom: 10px;
  }
  .product-image2{
    width: 100%;
  }
}
.product-grid-container:nth-child(41) {
  margin-top: 60px;
  width: 22vw;
  .product-image1{
    width: 100%;
    margin-bottom: 10px;
  }
  .product-image2{
    width: 100%;
  }
}

.product-grid-container:nth-child(42) {
  margin-top: 60px;
  width: 30vw;
  .product-image2{
    width: 90%;
    margin-bottom: 30px;
  }
}
.product-grid-container:nth-child(43) {
  margin-top: 60px;
  width: 30vw;
  .product-image2{
    width: 90%;
    margin-bottom: 30px;
  }
}
.product-grid-container:nth-child(44) {
  margin-top: 60px;
  width: 30vw;
  .product-image2{
    width: 90%;
    margin-bottom: 30px;
  }
}

.product-grid-container:nth-child(45) {
  margin-top: 60px;
  width: 45vw;
  .product-image2{
    width: 98%;
    padding-right: 30px;
  }
}
.product-grid-container:nth-child(46) {
  margin-top: 60px;
  width: 45vw;
  .product-image2{
    width: 98%;
  }
}

.product-grid-container:nth-child(47) {
  margin-top: 20px;
  width: 30vw;
  .product-image1{
    width: 120%;
    margin-bottom: -40px;
  }
  .product-image2{
    width: 120%;
  }
  .product-info {
    bottom: 80px;
  }
}

.product-grid-container:nth-child(48) {
  margin-top: 20px;
  width: 30vw;
  .product-image1{
    width: 120%;
    margin-bottom: -40px;
  }
  .product-image2{
    width: 120%;
  }
  .product-info {
    bottom: 80px;
  }
}
.product-grid-container:nth-child(49) {
  margin-top: 20px;
  width: 30vw;
  .product-image1{
    width: 120%;
    margin-bottom: -40px;
  }
  .product-image2{
    width: 120%;
  }
  .product-info {
    bottom: 80px;
  }
}

.product-grid-container:nth-child(50) {
  margin-top: 60px;
  width: 30vw;
  .product-image2{
    width: 100%;
  }
}

.product-grid-container:nth-child(51) {
  margin-top: 60px;
  width: 30vw;
  .product-image2{
    width: 100%;
  }
}
.product-grid-container:nth-child(52) {
  margin-top: 60px;
  width: 30vw;
  .product-image2{
    width: 100%;
  }
}
.product-grid-container:nth-child(53) {
  margin-top: 50px;
  width: 45vw;
  .product-image1{
    width: 70%;
  }
  .product-image2{
    width: 70%;
  }
}
.product-grid-container:nth-child(54) {
  margin-top: 50px;
  width: 45vw;
  .product-image1{
    width: 70%;
  }
  .product-image2{
    width: 70%;
  }
}
.product-grid-container:nth-child(55) {
  // margin-top: 60px;
  width: 30vw;
  .product-image2{
    width: 130%;
    margin-bottom: -60px;
  }
}
.product-grid-container:nth-child(56) {
  // margin-top: 50px;
  width: 30vw;
  .product-image2{
    width: 130%;
    margin-bottom: -60px;
  }
}
.product-grid-container:nth-child(57) {
  // margin-top: 50px;
  width: 30vw;
  .product-image2{
    width: 130%;
    margin-bottom: -60px;
  }
}
.product-grid-container:nth-child(58) {
  margin-top: 50px;
  width: 45vw;
  .product-image1{
    width: 97%;
  }
  .product-image2{
    width: 97%;
  }
  .product-info {
    bottom: 100px;
  }
}
.product-grid-container:nth-child(59) {
  margin-top: 50px;
  width: 45vw;
  .product-image1{
    width: 97%;
    padding-left: 30px;
  }
  .product-image2{
    width: 97%;
    padding-left: 30px;
  }
  .product-info {
    bottom: 100px;
  }
}
