
$font: "DINNextRoundedLTW01-Regular";
$ropa:  'Ropa Sans', sans-serif;
$abel: 'Abel', sans-serif;
$condensed: 'Open Sans Condensed', sans-serif;
$grey: #878789;
$info: #d9dbdc;

.caseBuyer-header {
background: url("/img/iphone-buyers-guide-cover-C1.jpg");
height: 400px;
width: 100%;
background-position: center center;
background-size: cover;
}

.journal-title {
  padding-top: 75px;
  padding-bottom: 75px;
  font-family: $ropa;
  font-size: 30px;
  color: #494c51;
  display: flex;
  align-content: center;
  justify-content: center;
  letter-spacing: .3em;
}

.intro {
  flex-direction: column;
  padding-left: 28%;
  padding-right: 28%;
  font-family: $abel;
  letter-spacing: .7px;
  font-size: 17px;
  color: #939393;
  display: flex;
  align-content: center;
  justify-content: center;
  line-height: 200%;
  padding-bottom: 20px;
}

.intro-2 {
  flex-direction: column;
  padding-left: 28%;
  padding-right: 28%;
  font-family: $abel;
  letter-spacing: .7px;
  font-size: 17px;
  color: #939393;
  display: flex;
  align-content: center;
  justify-content: center;
  line-height: 200%;
  padding-bottom: 55px;
}

.flowchart-wrapper {
  display: flex;
  justify-content: center;
  padding-bottom: 80px;
}

.flowchart {
  height: 33%;
  width: 34%;
}

.buyer-title {
  font-family: $ropa;
  color: #494c51;
  font-size: 28px;
  display: flex;
  align-content: center;
  justify-content: center;
  letter-spacing: .3em;
  padding-left: 40px;
  padding-bottom: 25px;
}

.buyerType-Wrapper {
  display: flex;
  justify-content: center;
  padding-right: 50px;
}

.buyerImage-wrapper {
  display: flex;
  padding-top: 95px;
  width: 225px;
}

.buyerImage-wrapper-2 {
  display: flex;
  padding-top: 35px;
  width: 225px;
}
.buyerImage-wrapper-3 {
  display: flex;
  padding-top: 60px;
  width: 225px;
}

.buyer-image {
  width: 229.69px;
  height: 132.77px;
}

.buyer-description {
  font-family: $abel;
  color: #939393;
  font-size: 17px;
  letter-spacing: .7px;
  width: 600px;
  line-height: 1.8;
  p {
  padding-bottom: 20px;
  }
  .pro-con {
    padding-bottom: 25px;
  }
  .pro {
    padding-bottom: 5px;
  }
  .con {
    padding-bottom: 7px;
  }
  .recommendation {
    padding-bottom: 85px;
  }
  .recommendation-2 {
    padding-bottom: 100px;
  }
}

.links-wrapper {
  color: #494c51;
  font-family: $abel;
  letter-spacing: .7px;
  font-size: 17px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.buyer-title-2 {
  font-family: $ropa;
  color: #494c51;
  font-size: 28px;
  display: flex;
  align-content: center;
  justify-content: center;
  letter-spacing: .3em;
  padding-left: 40px;
  padding-bottom: 50px;
}

.links {
  display: flex;
  justify-content: center;
  padding-bottom: 85px;
  color: #939393;
}

.anchor-tag {
  text-decoration: none;
  color: #424242;
}

.anchor-tag:hover {
  cursor: pointer;
}
